/* The abstracts/ folder gathers all Sass tools and helpers used across the project. Every global variable, function, mixin and placeholder should be put in here. */
/* ==================== Variables ==================== */
:root {
    /* белый */
    --white: rgb(255, 255, 255);
    /* зеленый */
    --basic-green: rgb(123, 157, 42);
    --transparent-green: rgba(170, 243, 77, 0.52);
    --transparent-darkgreen: rgba(97, 125, 33, 0.8);
    --shadow-green: rgba(163, 204, 64, 0.18);
    /* зеленый */
    --transparent-red: rgb(157, 42, 42, 0.52);
    /* серый */
    --light-light-gray: rgb(222, 222, 222);
    --shadow-light-gray: rgba(185, 185, 185, 0.37);
    --light-gray: rgb(108, 108, 108);
    --dark-gray: rgb(55, 55, 55);
    --transparent-gray: rgba(51, 51, 51, 0.24);
    /* черный */
    --black: rgb(51, 51, 51);
    --transparent-black: rgba(22, 22, 22, 0.8);
    /* базовый размер шрифта */
    --basic-font-size: 20px;
    /* размер экрана */
    --min-vw: 320px;
  }