/* Animation */
/* ==================== Секция "Фильмы" ==================== */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.movies-item > a:hover .movies-item-cover,
.movies-item-desc {
  /* Анимация */
  animation-delay: 0.5s;
  animation: slideDown;
  animation-duration: 0.4s;
  transform: translateY(100%);
}
.movies-item > a:hover .movies-item-desc,
.movies-item-cover {
  /* Анимация */
  animation: slideUp;
  animation-duration: 0.5s;
  transform: translateY(0);
}

/* ==================== ИЗОБРАЖЕНИЯ ==================== */
@keyframes scaleDown_100pc {
  0% {
    transform: scale(107%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes scaleUp_107pc {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(107%);
  }
}

.why-we-img {
  /* Анимация */
  animation: scaleDown_100pc;
  animation-duration: 0.2s;
  transform: scale(100%);
}
.why-we-img:hover {
  /* Анимация */
  animation: scaleUp_107pc;
  animation-duration: 0.3s;
  transform: scale(107%);
}
.burger-menu:hover .svg-burger-menu {
  cursor: pointer;
  fill: var(--basic-green);
}
.close-cross:hover .svg-close-cross {
  cursor: pointer;
  fill: var(--basic-green);
}
.burger-menu:focus + #viewport-cover {
  visibility: visible;
}

.gift-to-every-one-popup-close-cross:hover {
  /* Оформление */
  background-color: var(--white);
}
.gift-to-every-one-popup-close-cross:hover .svg {
  fill: var(--basic-green);
}

@keyframes shine-avatar {
  from {
    background-color: var(--light-light-gray);
  }
  
  40% {
    background-color: var(--transparent-green);
  }
  
  to {
    background-color: var(--light-light-gray);
  }
}

.skeleton-box {
  animation: shine-avatar 1.6s infinite ease-in-out;
}
.skeleton-box:nth-child(1) {
  animation-delay: -.9s;
}
.skeleton-box:nth-child(2) {
  animation-delay: -.8s;
}
.skeleton-box:nth-child(3) {
  animation-delay: -.7s;
}
.skeleton-box:nth-child(4) {
  animation-delay: -.2s;
}
.skeleton-box:nth-child(5) {
  animation-delay: -.1s;
}
.skeleton-box:nth-child(6) {
  animation-delay: -.6s;
}
.skeleton-box:nth-child(7) {
  animation-delay: -.3s;
}
.skeleton-box:nth-child(8) {
  animation-delay: -.4s;
}
.skeleton-box:nth-child(9) {
  animation-delay: -.5s;
}