/* «Шаблонный» код - CSS-код, который приходится писать при создании нового проекта (типографские правила, анимации, утилиты, ...) */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==================== ЗАГОЛОВКИ ==================== */
h2 {
  /* Типографика */
  font-size: 48px;
  line-height: 62px;
  font-weight: 500;
  color: var(--basic-green);
}
h3 {
  font-weight: 600;
  color: inherit;
}
.header-title {
  /* Блочная модель */
  width: 100%;
  height: 88px;
  /* Типографика */
  font-size: 68px;
  line-height: 88px;
  font-weight: 100;
  text-align: center;
  color: inherit;
}
.header-subtitle {
  /* Блочная модель */
  width: 100%;
  height: 53px;
  /* Типографика */
  font-size: 41px;
  line-height: 53px;
  font-weight: 400;
  text-align: center;
  color: inherit;
}
.welcome-h2 {
  /* Типографика */
  font-size: 33px;
  line-height: 43px;
  font-weight: 600;
  color: inherit;
}
.feedback-h2 {
  /* Типографика */
  font-size: 25px;
  line-height: 32px;
  text-align: center;
}
.gift-to-everyone-h2 {
  /* Типографика */
  color: inherit;
}
.why-we-h3 {
  /* Типографика */
  font-size: 20px;
  line-height: 26px;
}
.movies-item-desc-h3 {
  /* Оформление */
  font-size: 29px;
  line-height: 38px;
  /* Разное */
  visibility: hidden;
}
.movies-item-desc:hover .movies-item-desc-h3 {
  visibility: visible;
}
.reviews-item-h3 {
  /* Типографика */
  font-size: 15px;
  line-height: 19px;
}
.reviews-item-h3_active {
  /* Типографика */
  font-size: 18px;
  line-height: 23px;
}
.footer-nav-contacts-h3,
.footer-nav-menu-h3 {
  /* Типографика */
  text-transform: uppercase;
}

/* ==================== ТЕКСТ ==================== */
p {
  margin-top: 13px;
  /* Типографика */
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  color: inherit;
}
.movies-item-desc-p {
  /* Блочная модель */
  margin-top: 13px;
  /* Разное */
  visibility: hidden;
}
.movies-item-desc:hover .movies-item-desc-p {
  visibility: visible;
}
.goods-item-desc-p {
  /* Типографика */
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
}
.reviews-item-p {
  /* Типографика */
  font-size: 10px;
  line-height: 13px;
}
.reviews-item-p_active {
  /* Типографика */
  font-size: 11px;
  line-height: 14px;
}
.reviews-item-date {
  /* Типографика */
  font-size: 8px;
  line-height: 10px;
  font-weight: 300;
  text-align: right;
}
.reviews-item-date_active {
  /* Типографика */
  font-size: 9px;
  line-height: 12px;
}
.footer-text-p {
  /* Типографика */
  font-size: 14px;
  line-height: 18px;
}
.footer-copyright-text-p {
  /* Типографика */
  font-size: 15px;
  line-height: 19px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ==================== ССЫЛКИ ==================== */
a {
  /* Типографика */
  text-decoration: none;
  color: inherit;
}
.link_underline {
  /* Типографика */
  text-decoration: underline;
}
.header__link:hover {
  /* Типографика */
  text-decoration: underline;
  color: var(--basic-green);
}
.footer__link:hover {
  /* Типографика */
  text-decoration: underline;
  color: var(--white);
}
.choose-movie__link {
  /* Блочная модель */
  display: block;
}

/* ==================== ЛОГОТИП ==================== */
.header-iu-logo {
  /* Блочная модель */
  width: 156px;
  height: 40px;
}
.footer-iu-logo {
  /* Блочная модель */
  width: 161px;
  height: 42px;
}

/* ==================== ИЗОБРАЖЕНИЯ ==================== */
.why-we-img {
  /* Блочная модель */
  width: 245px;
  height: 169px;
}
.goods-item-img {
  /* Блочная модель */
  display: block;
  width: 100%;
  height: 331px;
  /* Оформление */
  border: 0;
}
.reviews-item-img {
  /* Блочная модель */
  width: 100%;
}

/* ==================== CSS-графика ==================== */
.triangle {
  /* Блочная модель */
  width: 0;
  height: 0;
  /* Оформление */
  border-style: solid;
  border-color: var(--white);
  border-width: 128px 1124px;
}
.triangle_upward {
  /* Оформление */
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
}
.triangle_downward {
  /* Оформление */
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-width: 0;
  border-right-width: 0;
}
.triangle_top-left {
  /* Позиционирование */
  position: absolute;
  top: -1px;
  left: -1px;
}
.triangle_bottom-right {
  /* Позиционирование */
  position: absolute;
  right: -1px;
  bottom: -1px;
}
.circle {
  /* Блочная модель */
  width: 31px;
  height: 31px;
  /* Оформление */
  background-color: var(--transparent-green);
  border-radius: 50%;
}
.trapezoid {
  /* Оформление */
  border-right: 245px solid var(--transparent-green);
  border-bottom: 88px solid var(--transparent-green);
  border-top: 65px solid transparent;
}
/* ==================== ВЕКТОРНЫЕ ИЗОБРАЖЕНИЯ ==================== */
.logo {
  /* Блочная модель */
  width: 100%;
  height: 100%;
}
.svg_white {
  /* Оформление */
  fill: var(--white);
}
.arrow {
  /* Блочная модель */
  width: 9px;
  height: 9px;
  margin-bottom: 0.1em;
}
.ico-smm {
  /* Блочная модель */
  width: 18px;
  height: 18px;
}
