/* «Шаблонный» код - CSS-код, который приходится писать при создании нового проекта (типографские правила, анимации, утилиты, ...) */
html {
  box-sizing: border-box;
  font-size: 1.78vw;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==================== ЗАГОЛОВКИ ==================== */
.header-title {
  /* Блочная модель */
  width: 100%;
  /* Типографика */
  font-size: 3.4rem;
  line-height: 1.3em;
  font-weight: 100;
  color: inherit;
}
.header-subtitle {
  /* Блочная модель */
  width: 100%;
  /* Типографика */
  font-size: 2.05rem;
  line-height: 1.3em;
  font-weight: 400;
  color: inherit;
}
h2 {
  /* Типографика */
  font-size: 2.4rem;
  line-height: 1.3em;
  font-weight: 500;
  color: var(--basic-green);
}
h3 {
  /* Типографика */
  line-height: 1.3em;
  font-weight: 600;
  color: inherit;
}
.welcome-h2 {
  /* Типографика */
  font-size: 1.65rem;
  font-weight: 600;
  color: inherit;
}
.feedback-h2 {
  /* Типографика */
  font-size: 1.25rem;
}
.gift-to-everyone-h2 {
  /* Типографика */
  color: inherit;
}
.why-we-h3 {
  /* Типографика */
  font-size: 1rem;
}
.movies-item-desc-h3 {
  /* Оформление */
  font-size: 1.45rem;
}
.reviews-item-h3 {
  /* Типографика */
  font-size: 0.75rem;
}
.reviews-item-h3_active {
  /* Типографика */
  font-size: 0.9rem;
}
.footer-nav-contacts-h3,
.footer-nav-menu-h3 {
  /* Типографика */
  text-transform: uppercase;
}

/* ==================== ТЕКСТ ==================== */
p {
  margin-top: 0.65em;
  /* Типографика */
  font-size: 0.55rem;
  line-height: 1.3em;
  font-weight: 400;
  color: inherit;
}
._text-centered {
  text-align: center;
}
.movies-item-desc-p {
  /* Блочная модель */
  margin-top: 1.19em;
}
.goods-item-desc-p {
  /* Типографика */
  font-size: 1rem;
  font-weight: 600;
}
.reviews-item-p {
  /* Типографика */
  font-size: 0.5rem;
}
.reviews-item-p_active {
  /* Типографика */
  font-size: 0.55rem;
}
.reviews-item-date {
  /* Типографика */
  font-size: 0.4rem;
  font-weight: 300;
  text-align: right;
}
.reviews-item-date_active {
  /* Типографика */
  font-size: 0.45rem;
}
.footer-text-p {
  /* Типографика */
  font-size: 0.7rem;
}
.footer-copyright-text-p {
  /* Типографика */
  font-size: 0.75rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ==================== ССЫЛКИ ==================== */
a {
  /* Типографика */
  text-decoration: none;
  color: inherit;
}
.link_underline {
  /* Типографика */
  text-decoration: underline;
}
.header__link:hover {
  /* Типографика */
  text-decoration: underline;
  color: var(--basic-green);
}
.footer__link:hover {
  /* Типографика */
  text-decoration: underline;
  color: var(--white);
}
.choose-movie__link {
  /* Блочная модель */
  display: block;
}
.iu-logo a{
  /* Блочная модель */
  display: block;
  height: 100%;
}

/* ==================== ЛОГОТИП ==================== */
.iu-logo {
  /* Блочная модель */
  width: 13.9vw;
  height: 3.7vw;
}

/* ==================== ИЗОБРАЖЕНИЯ ==================== */
.why-we-img {
  /* Блочная модель */
  width: 100%;
}
.goods-item-img {
  /* Блочная модель */
  display: block;
  width: 21.8vw;
  height: 29.5vw;
  /* Оформление */
  border: 0;
}
.reviews-item-img {
  /* Блочная модель */
  width: 100%;
}

/* ==================== CSS-графика ==================== */
.triangle {
  /* Блочная модель */
  width: 0;
  height: 0;
  /* Оформление */
  border-style: solid;
  border-color: var(--white);
  border-width: 11.4vw 98vw;
}
.triangle_upward {
  /* Оформление */
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
}
.triangle_downward {
  /* Оформление */
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-width: 0;
  border-right-width: 0;
}
.triangle_top-left {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
}
.triangle_bottom-right {
  /* Позиционирование */
  position: absolute;
  right: 0;
  bottom: 0;
}
.circle {
  /* Блочная модель */
  width: 2.8vw;
  height: 2.8vw;
  /* Оформление */
  background-color: var(--transparent-green);
  border-radius: 50%;
}
.trapezoid {
  /* Оформление */
  border-right: 21.8vw solid var(--transparent-green);
  border-bottom: 7.9vw solid var(--transparent-green);
  border-top: 5.8vw solid transparent;
}
/* ==================== ВЕКТОРНЫЕ ИЗОБРАЖЕНИЯ ==================== */
.logo {
  /* Блочная модель */
  width: 100%;
  height: 100%;
}
.svg_white {
  /* Оформление */
  fill: var(--white);
}
.arrow {
  /* Блочная модель */
  width: 0.45em;
  height: 0.45em;
  margin-bottom: 0.1em;
}
.ico-smm {
  /* Блочная модель */
  width: 1.7vw;
  height: 1.7vw;
}
