/* Стили компонентов, используемых для сборки страниц (кнопки, формы, всяческие слайдеры, всплывающие окна, ...) */

/* ==================== ОБЩИЕ ==================== */
input,
textarea,
select,
button,
.filebutton {
  /* Блочная модель */
  width: 100%;
  padding: 0.67em 0.55rem;
  /* Типографика */
  font-size: 0.75rem;
  color: var(--light-gray);
  /* Оформление */
  background-color: var(--light-light-gray);
  border: 1px solid transparent;
  border-radius: 0.6vw;
  outline: 0;
  /* Анимация */
  transition: 0.2s;
  /* Другие */
  cursor: pointer;
}

input:hover,
textarea:hover,
select:hover,
button:hover,
.filebutton:hover,
input[type="radio"] + label:hover::before,
input[type="checkbox"] + label:hover::before {
  /* Оформление */
  background-color: var(--white);
  border: 1px solid var(--light-light-gray);
  box-shadow: 0 0 0 5px var(--transparent-green);
}

/* ==================== ФОРМА ==================== */
.feedback-form {
}

/* ==================== ТЕКСТОВОЕ ПОЛЕ ==================== */
input[type="textarea"],
textarea {
  height: 7.8vw;
  resize: none;
}

/* ==================== ФЛАЖОК ==================== */
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  padding-left: 1.15rem;
  padding-right: 0.25rem;
  /* Типографика */
  font-size: 0.5rem;
  line-height: 1.3em;
  font-weight: 400;
  /* Оформление */
  color: var(--black);
  /* Анимация */
  transition: 0.2s;
  /* Другие */
  cursor: pointer;
}
input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  content: "";
  /* Позиционирование */
  position: absolute;
  left: 0;
  top: 0;
  /* Блочная модель */
  width: 1.4em;
  height: 1.4em;
  /* Оформление */
  border: 1px solid var(--basic-green);
  border-radius: 0.5vw;
  /* Анимация */
  transition: 0.2s;
}
input[type="radio"] + label::before {
  /* Оформление */
  border-radius: 100%;
}

/* ==================== ВЫПАДАЮЩИЕ СПИСКИ ==================== */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/ico-arrow-down.svg) 96% center / 5% no-repeat
    var(--light-light-gray);
}
.lang {
  /* Блочная модель */
  width: auto;
  /* Типографика */
  font-size: 0.6rem;
  color: inherit;
  text-transform: uppercase;
  /* Оформление */
  background: none;
  border: none;
  outline: none;
}
.lang:hover {
  /* Типографика */
  color: var(--basic-green);
  /* Оформление */
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

/* ==================== КНОПКИ ==================== */
button,
.filebutton {
  /* Блочная модель */
  display: inline-block;
  width: fit-content;
  padding: 0.5em 1.5rem;
  /* Типографика */
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
  border: 1px solid transparent;
  border-radius: 0.6vw;
}
button:hover,
.filebutton:hover {
  /* Типографика */
  color: var(--basic-green);
  /* Оформление */
  background-color: var(--white);
  border-color: var(--transparent-green);
  box-shadow: 0 2px 9px var(--transparent-darkgreen);
}
input[type="file"] {
  display: none;
}
.gift-to-everyone-button {
  /* Типографика */
  font-size: 0.7rem;
}
.gift-to-everyone__gift-to-everyone-button {
  /* Блочная модель */
  margin-top: 0.73em;
}
.feedback-form-filebutton,
.feedback-form-submit {
  /* Блочная модель */
  display: block;
  width: 100%;
  /* Типографика */
  font-size: 1rem;
  text-transform: uppercase;
}
.reguest-call {
  /* Блочная модель */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 1.4rem;
  padding-right: 0.3rem;
  /* Типографика */
  color: var(--black);
  /* Оформление */
  background-color: var(--white);
  border-radius: 0.6vw;
}
.reguest-call:hover {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
  fill: var(--white);
}
.reguest-call__ico-phone {
  /* Позиционирование */
  position: absolute;
  top: 0.34em;
  left: 0.4rem;
  /* Блочная модель */
  padding: 1px;
}
.ico-phone {
  /* Блочная модель */
  width: 0.67em;
  height: 0.67em;
}
.reguest-call-label {
  /* Типографика */
  font-size: 0.6rem;
  line-height: 1.3em;
}
.reguest-call__reguest-call-label {
}
