/* Стили компонентов, используемых для сборки страниц (кнопки, формы, всяческие слайдеры, всплывающие окна, ...) */

/* ==================== ОБЩИЕ ==================== */
input,
textarea,
select,
button,
.filebutton {
  /* Блочная модель */
  width: 100%;
  padding: 10px 11px;
  /* Типографика */
  font-size: 15px;
  color: var(--light-gray);
  /* Оформление */
  background-color: var(--light-light-gray);
  border: 1px solid transparent;
  border-radius: 6px;
  outline: 0;
  /* Анимация */
  transition: 0.2s;
  /* Другие */
  cursor: pointer;
}

input:hover,
textarea:hover,
select:hover,
button:hover,
.filebutton:hover,
input[type="radio"] + label:hover::before,
input[type="checkbox"] + label:hover::before {
  /* Оформление */
  background-color: var(--white);
  border: 1px solid var(--light-light-gray);
  box-shadow: 0 0 0px 5px var(--transparent-green);
}

/* ==================== ФОРМА ==================== */
.feedback-form {
  /* Блочная модель */
  width: 344px;
}

/* ==================== ТЕКСТОВОЕ ПОЛЕ ==================== */
input[type="textarea"],
textarea {
  height: 105px;
  resize: none;
}

/* ==================== ФЛАЖОК ==================== */
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  padding-left: 23px;
  padding-right: 5px;
  /* Типографика */
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  /* Оформление */
  color: var(--black);
  /* Анимация */
  transition: 0.2s;
  /* Другие */
  cursor: pointer;
}
input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  content: "";
  /* Позиционирование */
  position: absolute;
  left: 0;
  top: 0;
  /* Блочная модель */
  width: 14px;
  height: 14px;
  /* Оформление */
  border: 1px solid var(--basic-green);
  border-radius: 5px;
  /* Анимация */
  transition: 0.2s;
}
input[type="radio"] + label::before {
  /* Оформление */
  border-radius: 100%;
}

/* ==================== ВЫПАДАЮЩИЕ СПИСКИ ==================== */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/ico-arrow-down.svg) 96% center / 5% no-repeat
    var(--light-light-gray);
}
.lang {
  /* Блочная модель */
  width: auto;
  /* Типографика */
  font-size: 12px;
  color: inherit;
  text-transform: uppercase;
  /* Оформление */
  background: none;
  border: none;
  outline: none;
}
.lang:hover {
  /* Типографика */
  color: var(--basic-green);
  /* Оформление */
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

/* ==================== КНОПКИ ==================== */
button,
.filebutton {
  /* Блочная модель */
  display: inline-block;
  width: fit-content;
  padding: 0.5em 30px;
  /* Типографика */
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
  border: 1px solid transparent;
  border-radius: 6px;
}
button:hover,
.filebutton:hover {
  /* Типографика */
  color: var(--basic-green);
  /* Оформление */
  background-color: var(--white);
  border-color: var(--transparent-green);
  box-shadow: 0 2px 9px var(--transparent-darkgreen);
}
input[type="file"] {
  display: none;
}
.gift-to-everyone-button {
  /* Типографика */
  font-size: 14px;
}
.gift-to-everyone__gift-to-everyone-button {
  /* Блочная модель */
  margin-top: 29px;
}
.feedback-form-filebutton,
.feedback-form-submit {
  /* Блочная модель */
  display: block;
  width: 100%;
  /* Типографика */
  font-size: 20px;
  text-transform: uppercase;
}
.reguest-call {
  /* Блочная модель */
  width: 130px;
  height: 21px;
  /* Типографика */
  color: var(--black);
  /* Оформление */
  background-color: var(--white);
  border-radius: 6px;
}
.reguest-call:hover {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
  fill: var(--white);
}
.reguest-call__ico-phone {
  /* Позиционирование */
  position: absolute;
  top: 5px;
  left: 8px;
  /* Блочная модель */
  padding: 1px;
}
.ico-phone {
  /* Блочная модель */
  width: 10px;
  height: 10px;
}
.reguest-call-label {
  /* Типографика */
  font-size: 12px;
  line-height: 16px;
}
.reguest-call__reguest-call-label {
  /* Позиционирование */
  position: absolute;
  top: 3px;
  left: 28px;
}
