/* For smaller components, there is the components/ folder. While layout/ is macro (defining the global wireframe), components/ is more focused on widgets. It contains all kind of specific modules like a slider, a loader, a widget, and basically anything along those lines. There are usually a lot of files in components/ since the whole site/application should be mostly composed of tiny modules. */

/* ==================== ОБЩИЕ ==================== */
.input,
.textarea,
.select,
button,
.filebutton {
  display: block;
  position: relative;
  /* Блочная модель */
  border: 1px solid transparent;
  border-radius: 0.6vw;
  outline: 0;
  /* Анимация */
  transition: 0.2s;
  /* Оформление */
  background-color: var(--light-light-gray);
}
.input__label,
.select__label,
.textarea__label {
  position: absolute;
  padding: 0 0.5rem;
  top: 0.4rem;
  left: 0.75em;
  /* Типографика */
  font-size: 0.75rem;
  line-height: 1.3em;
  color: var(--light-gray);
  cursor: text;
}
.input_filled .input__label,
.select_filled .select__label,
.textarea_filled .textarea__label {
  top: -1.25rem;
  padding: 0 0.5rem;
  background-color: var(--white);
  /* Анимация */
  transition: inherit;
}
.input__input,
.select__select,
.textarea__textarea {
  display: block;
  width: 100%;
  padding: 0.67em 0.55rem;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  border-radius: inherit;
}

.input:hover,
.textarea:hover,
.select:hover,
button:hover,
.filebutton:hover,
input[type="radio"] + label:hover::before,
.checkbox:hover::before,
.input_filled,
.select_filled,
.textarea_filled {
  /* Оформление */
  background-color: var(--white);
  box-shadow: 0 0 0 0.25rem var(--transparent-green);
}

.input__err-msg,
.select__err-msg,
.textarea__err-msg {
  display: none;
  position: absolute;
  padding: 0 0.5rem;
  bottom: 0;
  left: 0.95em;
  /* Типографика */
  font-size: 0.6rem;
  line-height: 1.3em;
  color: var(--transparent-red);
}
.input_error,
.select_error,
.textarea_error {
  box-shadow: 0 0 0 0.25rem var(--transparent-red);
}
.input_error .input__err-msg,
.select_error .select__err-msg,
.textarea_error .textarea__err-msg {
  display: block;
}
/* ==================== ФОРМА ==================== */

/* ==================== Input ==================== */
/* ==================== Textarea ==================== */
input[type="textarea"],
textarea {
  height: 6rem;
  resize: none;
}

/* ==================== Checkbox, Radio ==================== */
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
input[type="radio"] + label,
.checkbox {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  padding-top: 0.67em;
  padding-bottom: 1.5em;
  padding-left: 1.15rem;
  padding-right: 0.25rem;
  /* Типографика */
  font-size: 0.5rem;
  line-height: 1.3em;
  font-weight: 400;
  /* Оформление */
  color: var(--black);
  /* Анимация */
  transition: 0.2s;
  /* Другие */
  cursor: pointer;
}

input[type="radio"] + label::before,
.checkbox::before {
  content: "";
  /* Позиционирование */
  position: absolute;
  left: 0;
  top: 0.25rem;
  /* Блочная модель */
  width: 1.4em;
  height: 1.4em;
  /* Оформление */
  border: 1px solid var(--basic-green);
  border-radius: 0.5em;
  /* Анимация */
  transition: 0.2s;
}
input[type="radio"] + label::before {
  /* Оформление */
  border-radius: 100%;
}

.checkbox > input[type="checkbox"]:checked + .svg-checkmark {
  display: block;
}
.checkbox_error::before {
  border-color: var(--white);
  box-shadow: 0 0 0 0.25rem var(--transparent-red);
}

/* ==================== Select ==================== */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/ico-arrow-down.svg) 96% center / 5% no-repeat
    var(--light-light-gray);
}
.lang {
  /* Блочная модель */
  width: auto;
  /* Типографика */
  font-size: 0.6rem;
  color: inherit;
  text-transform: uppercase;
  /* Оформление */
  background: none;
  border: none;
  outline: none;
}
.lang:hover {
  /* Типографика */
  color: var(--basic-green);
  /* Оформление */
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

/* ==================== КНОПКИ ==================== */
button,
.filebutton {
  /* Блочная модель */
  display: inline-block;
  width: fit-content;
  padding: 0.5em 1.5rem;
  /* Типографика */
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
  border: 1px solid transparent;
  border-radius: 0.6vw;
  cursor: pointer;
}
button:hover,
.filebutton:hover {
  /* Типографика */
  color: var(--basic-green);
  /* Оформление */
  background-color: var(--white);
  border-color: var(--transparent-green);
  box-shadow: 0 2px 9px var(--transparent-darkgreen);
}
input[type="file"] {
  display: none;
}
.gift-to-everyone-button {
  /* Типографика */
  font-size: 0.7rem;
}
.gift-to-everyone__gift-to-everyone-button {
  /* Блочная модель */
  margin-top: 0.73em;
}
.feedback-form-filebutton,
.feedback-form-submit {
  /* Блочная модель */
  display: block;
  width: 100%;
  /* Типографика */
  font-size: 1rem;
  text-transform: uppercase;
}
.gift-to-every-one-popup-form-submit {
  /* Блочная модель */
  width: 100%;
}
.request-call {
  /* Блочная модель */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.4rem;
  padding-right: 0.3rem;
  /* Типографика */
  color: var(--black);
  /* Оформление */
  background-color: var(--white);
  border-radius: 0.6vw;
}
.request-call:hover {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
  fill: var(--white);
}
.ico-phone {
  /* Блочная модель */
  width: 0.67em;
  height: 0.67em;
}
.request-call-label {
  /* Типографика */
  font-size: 0.6rem;
  line-height: 1.3em;
}

.gift-to-every-one-popup-close-cross {
  /* Блочная модель */
  /* visibility: hidden; */
  width: fit-content;
  padding: 0.5rem;
  /* Оформление */
  border-radius: 50%;
  background-color: var(--basic-green);
  fill: var(--white);
}
.scrollup {
  display: none;
  padding: 0.9rem 1rem 0.7rem;
  color: var(--basic-green);
  background-color: var(--light-light-gray);
  border-radius: 50%;
  cursor: pointer;
}
.scrollup:hover {
  color: var(--white);
  background: var(--transparent-green);
}
.body__scrollup {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
}