/* The layout/ folder contains everything that takes part in laying out the site or application. This folder could have stylesheets for the main parts of the site (header, footer, navigation, sidebar…), the grid system or even CSS styles for all the forms. */
/* ==================== ОБЩИЕ ==================== */
body {
  /* background-color:var(--light-light-gray); */
  min-width: var(--min-vw);
  max-width: 1920px;
}
.container {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  margin: 0 auto;
  /* Оформление */
  /* background-color: var(--white); */
}
.section {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  padding: 0 12.1vw;
}
/* ==================== HEADER ==================== */
.header-container {
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 59.5vw 100vh; */
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-black);
}
.header-container::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/header-bg.png) center no-repeat;
  background-size: cover;
  /* Разное */
  content: "";
}
.header__header-skip {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  /* Блочная модель */
  padding: 0.25rem;
}
.header__iu-logo {
  /* Позиционирование */
  position: absolute;
  top: 4.45vw;
  left: 7.9vw;
  z-index: 1;
}
.header-title-div {
  /* Блочная модель */
  padding-top: 12.75em;
  padding-bottom: 12.75em;
}
.header-title-div__header-title {
  /* Блочная модель */
  display: block;
}
.header-title-div__header-subtitle {
  /* Блочная модель */
  display: block;
  margin-top: 0.44em;
}

/* ==================== Секция "Добро пожаловать!" ==================== */
.welcome {
  /* Блочная модель */
  width: 37.9vw;
  min-width: var(--min-vw);
  /* Типографика */
  font-size: 0.55rem;
  line-height: 1.3em;
  font-weight: 400;
  color: var(--black);
  /* Оформление */
  background-color: var(--white);
  border-radius: 0.9vw;
  box-shadow: 0 2.5vw 3.5vw var(--shadow-green);
}
.main-container__welcome {
  /* Блочная модель */
  margin: 0 11.9vw 0 auto;
  padding: 2.73em 2.35rem;
}
.welcome__welcome-h2 {
  /* Блочная модель */
  margin-bottom: 0.65em; /* Исправить на margin-top */
}
/* ==================== Секция "Почему мы?" ==================== */
.main-container__why-we {
  /* Блочная модель */
  padding-top: 1.45em;
  padding-bottom: 1.45em;
}
.why-we__why-we-h3 {
  /* Позиционирование */
  margin-top: 2.4em;
  margin-bottom: 1.6em; /* Исправить на margin-top */
}
.why-we-container {
  /* Блочная модель */
  display: flex;
  flex-wrap: wrap;
}
.why-we__why-we-container {
  /* Блочная модель */
  margin: 5.1vw -2.1vw 0;
}
.why-we-item {
  /* Блочная модель */
  flex-grow: 1;
  width: 33.33%;
  min-width: 250px;
  overflow: hidden;
}
.why-we__why-we-item {
  /* Блочная модель */
  padding: 1.35em 1.25rem;
}
/* ==================== Секция "Выберите фильм" ==================== */
.main-container__choose-movie {
  /* Блочная модель */
  padding-top: 5.75em;
  padding-bottom: 4.7em; /* ? */
}
.choose-movie-text {
  max-width: 26.95rem;
}
.choose-movie__choose-movie-text {
  /* Блочная модель */
  margin: 0 auto;
  padding: 0.67em 0;
}
.choose-movie-wrapper {
  overflow-y: auto;
}
.choose-movie__choose-movie-wrapper {
  /* Блочная модель */
  margin: 7.5vw 0 0;
}
.choose-movie-table {
  /* Блочная модель */
  width: 100%;
  /* Оформление */
  border: none;
  border-collapse: separate;
}
.choose-movie-table tr:nth-child(2n + 1) {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--light-gray);
}
.choose-movie-table tr:nth-child(2n) {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--dark-gray);
}
.choose-movie-th {
  /* Типографика */
  font-size: 1rem;
  line-height: 1.3em;
  font-weight: 600;
  text-align: left;
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
}
.choose-movie-th_narrow {
  width: 8% /* 6.3vw */;
}
.choose-movie-th_wide {
  width: 28% /* 21.4vw */;
}
.choose-movie__choose-movie-th {
  /* Позиционирование */
  vertical-align: top;
  /* Блочная модель */
  padding: 0.45em 0.5rem;
}
.choose-movie__choose-movie-td {
  /* Позиционирование */
  vertical-align: top;
  /* Блочная модель */
  padding: 0.95em 0.5rem;
}
.choose-movie-td {
  /* Типографика */
  font-size: 0.7rem;
  line-height: 1.3em;
  font-weight: 400;
}
.choose-movie-table tr:first-child th:first-child {
  border-top-left-radius: 0.9vw;
}
.choose-movie-table tr:first-child th:last-child {
  border-top-right-radius: 0.9vw;
}
.choose-movie-table tr:last-child td:first-child {
  border-bottom-left-radius: 0.9vw;
}
.choose-movie-table tr:last-child td:last-child {
  border-bottom-right-radius: 0.9vw;
}
/* ==================== Секция "Подарок каждому!" ==================== */
.main-container__gift-to-everyone {
  /* Блочная модель */
  padding-top: 7em;
  padding-bottom: 7em;
}
.gift-to-everyone {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-black);
}
.gift-to-everyone::after {
  /* Позиционирование */
  position: absolute;
  top: 0.9vw;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/present-bg.png) center no-repeat;
  background-size: cover;
  /* Разное */
  content: "";
}
.present {
  height: 24.6vw;
  width: 24.6vw;
}
.gift-to-everyone__present {
  /* Позиционирование */
  position: absolute;
  top: -4vw;
  /* Блочная модель */
  margin-right: 0.5rem;
}
.gift-to-everyone__inner {
  /* Блочная модель */
  max-width: 27.4rem;
  margin-left: auto;
  /* Типографика */
  text-align: right;
}
.gift-to-everyone__gift-to-everyone-h2 {
  /* Блочная модель */
  margin-bottom: 3.4vw; /* Исправить на margin-top */
  /* Типографика */
  text-align: right;
}
.gift-to-everyone__gift-to-everyone-p {
  /* Блочная модель */
  margin-top: 0.47em;
}

/* ==================== Секция "Фильмы" ==================== */
.main-container__movies {
  /* Блочная модель */
  padding-top: 2.05em;
  padding-bottom: 1.55em;
}
.movies__movies-h2 {
  /* Блочная модель */
  margin-left: 2px;
}
.movies-container {
  /* Блочная модель */
  display: grid;
  grid-template-columns: repeat(3, minmax(190px, 1fr));
  grid-template-rows: repeat(3, minmax(190px, 1fr));
}
.movies-container::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.movies-container > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.movies__movies-container {
  /* Блочная модель */
  margin: 3.2em 0 0;
}
.movies-item {
  /* Блочная модель */
  overflow: hidden;
}
.movies__movies-item {
  /* Позиционирование */
  position: relative;
}
.movies-img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.movies__movies-img {
  /* Позиционирование */
  position: absolute;
}
.movies-text {
  max-width: 27.4rem;
}
.movies__movies-text {
  /* Блочная модель */
  margin-top: 1.35em;
}
.movies-item-cover {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  /* Оформление */
  background-color: var(--transparent-black);
}
.movies__movies-item-cover {
  /* Позиционирование */
  position: relative;
  top: 0;
  left: 0;
}
.movies-item-desc {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-darkgreen);
}
.movies__movies-item-desc {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  /* Блочная модель */
  padding: 0.85em 1.15rem;
}

/* ==================== Секция "Товары" ==================== */
.main-container__goods {
  /* Блочная модель */
  padding-top: 2.4em;
  padding-bottom: 2.4em; /* ? */
}
.goods__goods-h2 {
  /* Блочная модель */
  margin-left: 4px;
}
.goods-text {
  max-width: 27.4rem;
}
.goods__goods-text {
  /* Блочная модель */
  margin-top: 1.35em;
}
.goods-container {
  /* Блочная модель */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  grid-gap: 4.9vw;
}
.goods-item {
  /* Блочная модель */
  overflow: hidden;
  /* Оформление */
  border-radius: 10px;
}
.goods__goods-item {
  /* Позиционирование */
  position: relative;
  margin-top: 2.85em;
}
.goods__trapezoid {
  /* Позиционирование */
  position: absolute;
  bottom: 0;
}
.goods-item-desc {
  /* Блочная модель */
  display: flex;
  width: 100%;
  height: 46%;
  align-items: center;
  justify-content: center;
  /* Типографика */
  color: var(--white);
}
.goods__goods-item-desc {
  /* Позиционирование */
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 2.1em;
  vertical-align: middle;
}

/* ==================== Секция "Отзывы" ==================== */
.reviews {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-black);
}
.reviews::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/reviews-bg.png) center no-repeat;
  background-size: cover;
  /* Разное */
  content: "";
}
.main-container__reviews {
  /* Блочная модель */
  padding-top: 6.3em;
  padding-bottom: 0.9em;
}
.reviews__reviews-h2 {
  /* Блочная модель */
  margin-left: 4px;
}
.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.reviews__reviews-container {
  /* Позиционирование */
  position: relative;
}
.reviews-item {
  /* Блочная модель */
  float: left;
  width: 10.5rem;
  /* Типографика */
  text-align: left;
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
  border-radius: 0.9vw;
}
.reviews__reviews-item {
  /* Блочная модель */
  margin: 8.9vw 0;
}
.reviews-item_active {
  /* Блочная модель */
  width: 246px;
  height: 332px;
}
.reviews__reviews-item_active {
  /* Блочная модель */
  margin: 75px 45px;
}
.reviews__reviews-item-p_active {
  /* Блочная модель */
  margin-top: 19px;
}
.reviews__reviews-item-date {
  margin-top: 1.25em;
}
.reviews__reviews-item-date_active {
  /* Блочная модель */
  margin-top: 30px;
}
.reviews-text {
  max-width: 27.4rem;
}
.reviews__reviews-text {
  /* Блочная модель */
  margin-top: 1.3em;
}
.reviews__reviews-item-text {
  /* Блочная модель */
  margin-top: 0.55em;
  padding: 0.35em 0.55rem 0.35em 0.4rem;
}
.reviews__reviews-item-text_active {
  /* Блочная модель */
  margin-top: 18px;
  padding: 0.35em 0.7rem 0.35em 0.85rem;
}

/* ==================== Секция "Обратная связь" ==================== */
.feedback {
  /* Блочная модель */
  max-width: 767px;
  padding: 0;
  overflow: hidden;
  /* Оформление */
  border-radius: 1.8vw;
  box-shadow: 0.8vw 0.9vw 3.5vw var(--shadow-light-gray);
}
.main-container__feedback {
  /* Блочная модель */
  margin: 3.9vw auto 0;
  clear: both;
}
.feedback::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  /* Оформление */
  background: url(/images/feedback.png) left no-repeat;
  background-size: contain;
  /* Разное */
  content: "";
}
.feedback__inner {
  /* Блочная модель */
  max-width: 21.4rem /* 30.7vw */;
  margin-left: auto;
  padding: 1.5rem 2.1rem;
  /* Оформление */
  background-color: var(--white);
}
.feedback__inner::before {
  /* Блочная модель */
  width: 90%;
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 21.4rem;
  bottom: 0;
  z-index: -1;
  /* Оформление */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, white);
  /* Разное */
  content: "";
}
.feedback__form {
  /* Блочная модель */
  margin-top: 5px;
}
.form-item-wrap {
  margin: 1em auto 0;
}
/* ==================== Секция "Как добраться" ==================== */
.main-container__how-to-get {
  margin: 0 auto;
  padding: 0 3.75rem;
}
.map {
  width: 100%;
}
.how-to-get__map {
  /* Блочная модель */
  margin-top: -3px;
}

/* ======================================== FOOTER ======================================== */
/* ==================== КОНТЕЙНЕРЫ ==================== */
.footer-container {
  /* Блочная модель */
  padding-top: 4.5em;
  padding-right: 7.2vw;
  padding-bottom: 1.55em;
  padding-left: 7.2vw;
  overflow: hidden;
  /* Типоографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
}
.footer-inner-col1 {
  /* Блочная модель */
  float: left;
}
.footer-text {
  max-width: 269px;
}
.footer__footer-text {
  /* Блочная модель */
  margin-top: 0.7em;
}
.footer__iu-logo {
  /* Блочная модель */
  margin-top: -6px;
}
/* ==================== МЕНЮ ==================== */

.header__header-nav-contacts {
  /* Позиционирование */
  position: absolute;
  top: 3.5vw;
  left: 21.65vw;
}
.header-nav-menu {
  /* Блочная модель */
  float: right;
}
.header__header-nav-menu {
  /* Позиционирование */
  position: absolute;
  top: 6.6vw;
  left: 18.9vw;
}
.header__header-nav-lang {
  /* Позиционирование */
  position: absolute;
  top: 3.5vw;
  right: 8.1vw;
}
.header-nav-contacts-li,
.header-nav-menu-li,
.footer-nav-contacts-li,
.footer-nav-menu-li {
  /* Типографика */
  font-size: 0.6rem;
  line-height: 1.3em;
  font-weight: 500;
}
.header-nav-menu-li,
.footer-nav-menu-li {
  /* Типографика */
  text-transform: uppercase;
}
.header-nav-contacts__header-nav-contacts-li {
  /* Позиционирование */
  vertical-align: middle;
  /* Блочная модель */
  display: inline-block;
  margin: auto 0 auto 4vw;
}
.header-nav-menu__header-nav-menu-li {
  /* Позиционирование */
  vertical-align: middle;
  /* Блочная модель */
  display: inline-block;
  margin: auto 0 auto 3.85rem;
}
.header-nav-contacts__request-call {
  /* Позиционирование */
  position: relative;
}
.footer-nav-contacts {
  /* Блочная модель */
  float: left;
  padding-right: 5.55rem;
  padding-left: 1.7rem;
}
.footer__footer-nav-contacts {
  /* Позиционирование */
  position: relative;
}
.footer-nav-menu {
  /* Блочная модель */
  float: left;
  padding-right: 3.85rem;
  padding-left: 1.7rem;
}
.footer__footer-nav-menu {
  /* Позиционирование */
  position: relative;
}
.footer-nav-contacts__footer-nav-contacts-ul,
.footer-nav-menu__footer-nav-menu-ul {
  /* Блочная модель */
  margin-top: 1.3em;
}
.footer-nav-contacts__footer-nav-contacts-li,
.footer-nav-menu__footer-nav-menu-li {
  /* Блочная модель */
  margin-top: 2.17em;
}
.smm-bar {
  overflow: hidden;
}
.footer__smm-bar {
  /* Блочная модель */
  margin-left: -1.55rem;
}
.ico-smm-bg {
  /* Блочная верстка */
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
.footer__ico-smm-bg {
  margin-top: 1.25rem;
  margin-left: 1.55rem;
}
.ico-smm-bg:hover {
  box-shadow: 1px 1px 1px 1px var(--light-gray);
}
.ico-smm-bg:hover .ico-smm {
  fill: var(--transparent-darkgreen);
}
.footer__footer-copyright-text {
  /* Блочная модель */
  margin-top: 5em;
}
.viewport-cover {
  /* Блочная модель */
  visibility: hidden;
  display: none;
  width: 100vw;
  height: 100vh;
  /* Оформление */
  background: var(--transparent-gray);
  /* Разное */
  content: "";
}
.header__viewport-cover {
  /* Позиционирование */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.burger-menu {
  /* Блочная модель */
  visibility: hidden;
  width: 4.1vw;
  height: 2vw;
}
.header__burger-menu {
  /* Позиционирование */
  position: absolute;
  top: 4.45vw;
  right: 4.1vw;
}
.burger-menu a {
  /* Блочная модель */
  display: block;
  width: 100%;
  height: 100%;
}
.header__close-cross {
  /* Позиционирование */
  position: absolute;
  top: 4.3vw;
  right: 4.5vw;
  visibility: hidden;
}

/* ==================== МОДАЛЬНЫЕ ОКНА ==================== */
.gift-to-every-one-popup {
  /* Блочная модель */
  /* Оформление */
  background: var(--transparent-gray);
}
.gift-to-every-one__gift-to-every-one-popup {
  /* Позиционирование */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.gift-to-every-one-popup-form-wrapper {
  /* Блочная модель */
  padding: 2rem;
  /* Оформление */
  background: var(--white);
  border-radius: 2rem;
}
.gift-to-every-one-popup__gift-to-every-one-popup-form-wrapper {
  /* Позиционирование */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gift-to-every-one-popup__gift-to-every-one-popup-form {
  /* Блочная модель */
  margin-top: 0.2rem;
}
.gift-to-every-one-popup-form-item {
  background: transparent;
  box-sizing: none;
  border: 0;
}
.gift-to-every-one-popup__gift-to-every-one-popup-form-item {
  margin: 1.8em auto 0;
}
.gift-to-every-one-popup__gift-to-every-one-popup-close-cross {
  margin-left: auto;
}
.gift-to-every-one-popup-form-item__label {
  position: absolute;
  background: var(--light-light-gray);
}
