/* Стили элементов макетов страниц (шапка и подвал страницы, навигационная область, различные разделы страницы, сетка, ...) */
/* ==================== ОБЩИЕ ==================== */
body {
  /* background-color:var(--light-light-gray); */
}
.container {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  width: 1124px;
  margin: 0 auto;
  /* Оформление */
  /* background-color: var(--white); */
}
.section {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  padding: 0 135px;
}
/* ==================== HEADER ==================== */
.header-container {
  /* Блочная модель */
  height: 668px; /* ? */
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-black);
}
.header-container::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/header-bg.png) center no-repeat;
  /* Разное */
  content: "";
}
.header__header-skip {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  /* Блочная модель */
  padding: 5px;
}
.header__header-iu-logo {
  /* Позиционирование */
  position: absolute;
  top: 51px;
  left: 89px;
  z-index: 1;
}
.header__header-title-div {
  /* Позиционирование */
  position: relative;
  top: 225px;
}
.header-title-div__header-title {
  /* Блочная модель */
  display: block;
}
.header-title-div__header-subtitle {
  /* Блочная модель */
  display: block;
  margin-top: 18px;
}
.header-nav-contacts__lang {
  /* Блочная модель */
  margin-left: 64px;
}

/* ==================== Секция "Добро пожаловать!" ==================== */
.welcome {
  /* Блочная модель */
  width: 426px;
  /* Типографика */
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  color: var(--black);
  /* Оформление */
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 27px 39px var(--shadow-green);
}
.main-container__welcome {
  /* Позиционирование */
  position: absolute;
  top: -143px;
  right: 134px;
  z-index: 2;
  /* Блочная модель */
  padding: 30px 47px;
}
.welcome__welcome-h2 {
  /* Блочная модель */
  margin-bottom: 22px; /* Исправить на margin-top */
}
/* ==================== Секция "Почему мы?" ==================== */
.main-container__why-we {
  /* Блочная модель */
  padding-top: 29px;
  padding-bottom: 29px;
}
.why-we__why-we-h3 {
  /* Позиционирование */
  margin-top: 36px;
  margin-bottom: 24px; /* Исправить на margin-top */
}
/* ==================== Секция "Выберите фильм" ==================== */
.main-container__choose-movie {
  /* Блочная модель */
  padding-top: 115px;
  padding-bottom: 109px; /* ? */
}
.choose-movie-text {
  /* Блочная модель */
  width: 539px;
  /* Типографика */
  text-align: center;
}
.choose-movie__choose-movie-text {
  /* Блочная модель */
  margin: 30px auto 0;
}
.choose-movie-table {
  /* Блочная модель */
  width: 849px;
  /* Оформление */
  border: none;
  border-collapse: separate;
}
.choose-movie__choose-movie-table {
  /* Блочная модель */
  margin: 84px 0 0 3px;
}
.choose-movie-tr {
  /* Блочная модель */
  height: 45px;
}
.choose-movie-table tr:nth-child(2n + 1) {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--light-gray);
}
.choose-movie-table tr:nth-child(2n) {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--dark-gray);
}
.choose-movie-th {
  /* Типографика */
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
}
.choose-movie-th_narrow {
  width: 53px;
}
.choose-movie-th_wide {
  width: 240px;
}
.choose-movie__choose-movie-th,
.choose-movie__choose-movie-td {
  /* Позиционирование */
  vertical-align: top;
  /* Блочная модель */
  padding: 2px 2px 2px 25px;
}
.choose-movie-td {
  /* Типографика */
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.choose-movie-table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
.choose-movie-table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
.choose-movie-table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.choose-movie-table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
/* ==================== Секция "Подарок каждому!" ==================== */
.gift-to-everyone {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-black);
}
.gift-to-everyone::after {
  /* Позиционирование */
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/present-bg.png) center no-repeat;
  background-size: cover;
  /* Разное */
  content: "";
}
.gift-to-everyone__present {
  /* Позиционирование */
  position: relative;
  top: -44px;
  left: 4px;
}
.gift-to-everyone__inner {
  /* Позиционирование */
  position: relative;
  top: -159px;
  right: 0;
  /* Блочная модель */
  width: 548px;
  margin-left: auto;
  /* Типографика */
  text-align: right;
}
.gift-to-everyone__gift-to-everyone-h2 {
  /* Блочная модель */
  margin-bottom: 38px; /* Исправить на margin-top */
}
.gift-to-everyone__gift-to-everyone-p {
  /* Блочная модель */
  margin-top: 15px;
}

/* ==================== Секция "Фильмы" ==================== */
.main-container__movies {
  /* Блочная модель */
  padding-top: 41px;
  padding-bottom: 31px;
}
.movies__movies-h2 {
  /* Блочная модель */
  margin-left: 2px;
}
.movies-text {
  /* Блочная модель */
  width: 548px;
}
.movies__movies-text {
  /* Блочная модель */
  margin-top: 27px;
  margin-left: 4px;
}
.movies-item-cover {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  /* Оформление */
  background-color: var(--transparent-black);
}
.movies__movies-item-cover {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
}
.movies-item-desc {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-darkgreen);
}
.movies__movies-item-desc {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  /* Блочная модель */
  padding: 17px 23px;
}

/* ==================== Секция "Товары" ==================== */
.main-container__goods {
  /* Блочная модель */
  padding-top: 48px;
  padding-bottom: 48px; /* ? */
}
.goods__goods-item-img {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: bottom;
}
.movies-img {
  /* Позиционирование */
  width: 100%;
}
.movies__movies-img {
  /* Позиционирование */
  vertical-align: bottom;
}
.goods__goods-h2 {
  /* Блочная модель */
  margin-left: 4px;
}
.goods-text {
  /* Блочная модель */
  width: 548px;
}
.goods__goods-text {
  /* Блочная модель */
  margin-top: 27px;
  margin-left: 4px;
}
.goods__trapezoid {
  /* Позиционирование */
  position: absolute;
  bottom: 0;
  left: 0;
}
.goods-item-desc {
  /* Позиционирование */
  position: absolute;
  bottom: 0;
  /* Блочная модель */
  display: flex;
  width: 100%;
  height: 153px;
  align-items: center;
  justify-content: center;
  /* Типографика */
  color: var(--white);
}
.goods__goods-item-desc {
  /* Позиционирование */
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 42px;
  vertical-align: middle;
}

/* ==================== Секция "Отзывы" ==================== */
.reviews {
  /* Блочная модель */
  height: 792px;
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-black);
}
.reviews::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/reviews-bg.png) center no-repeat;
  background-size: cover;
  /* Разное */
  content: "";
}
.main-container__reviews {
  /* Блочная модель */
  padding-top: 126px;
}
.reviews__reviews-h2 {
  /* Блочная модель */
  margin-left: 4px;
}

/* ==================== Секция "Обратная связь" ==================== */
.feedback {
  /* Блочная модель */
  width: 767px;
  padding-top: 32px;
  padding-right: 42px;
  padding-bottom: 31px;
  padding-left: 381px;
  /* Оформление */
  border-radius: 20px;
  box-shadow: 8px 9px 39px var(--shadow-light-gray);
}
.feedback::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/feedback_2.png) left no-repeat;
  background-color: var(--white);
  border-radius: 21px;
  /* Разное */
  content: "";
}
.main-container__feedback {
  /* Блочная модель */
  margin: 43px auto 0;
  clear: both;
}
.feedback__feedback-form {
  /* Блочная модель */
  margin-top: 5px;
}
.feedback__feedback-form-item {
  margin: 14px auto 0;
}
/* ==================== Секция "Как добраться" ==================== */
.how-to-get {
  /* Блочная модель */
  width: 1124px;
  clear: both;
}
.main-container__how-to-get {
  margin: 0 auto;
  padding: 0 135px;
}
.how-to-get__map {
  /* Блочная модель */
  margin-left: -60px;
  margin-top: -3px;
}

/* ======================================== FOOTER ======================================== */
/* ==================== КОНТЕЙНЕРЫ ==================== */
.footer-container {
  /* Блочная модель */
  padding-top: 90px;
  padding-right: 90px;
  padding-bottom: 31px;
  padding-left: 90px;
  overflow: hidden;
  /* Типоографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
}
.footer-inner-col1 {
  /* Блочная модель */
  float: left;
  width: 405px;
}
.footer-text {
  /* Блочная модель */
  width: 272px;
}
.footer__footer-text {
  /* Блочная модель */
  margin-top: 14px;
}
.footer__footer-iu-logo {
  /* Блочная модель */
  margin-top: -6px;
}
/* ==================== МЕНЮ ==================== */
.header__header-nav-contacts {
  /* Позиционирование */
  position: absolute;
  top: 35px;
  left: 243px;
}
.header-nav-menu {
  /* Блочная модель */
  float: right;
}
.header__header-nav-menu {
  /* Позиционирование */
  position: absolute;
  top: 74px;
  left: 212px;
}
.header-nav-contacts-li,
.header-nav-menu-li {
  /* Типографика */
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.header-nav-contacts__header-nav-contacts-li {
  /* Позиционирование */
  vertical-align: middle;
  /* Блочная модель */
  display: inline-block;
  margin: auto 0 auto 46px;
}
.header-nav-menu__header-nav-menu-li {
  /* Позиционирование */
  vertical-align: middle;
  /* Блочная модель */
  display: inline-block;
  margin: auto 0 auto 77px;
}
.header-nav-contacts__reguest-call {
  /* Позиционирование */
  position: relative;
}
.footer-nav-contacts {
  /* Блочная модель */
  float: left;
  padding-right: 111px;
  padding-left: 34px;
}
.footer__footer-nav-contacts {
  /* Позиционирование */
  position: relative;
}
.footer-nav-menu {
  /* Блочная модель */
  float: left;
  padding-right: 77px;
  padding-left: 34px;
}
.footer__footer-nav-menu {
  /* Позиционирование */
  position: relative;
}
.footer-nav-contacts__footer-nav-contacts-ul,
.footer-nav-menu__footer-nav-menu-ul {
  /* Блочная модель */
  margin-top: 26px;
}
.footer-nav-contacts-li,
.footer-nav-menu-li {
  /* Типографика */
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.footer-nav-contacts__footer-nav-contacts-li,
.footer-nav-menu__footer-nav-menu-li {
  /* Блочная модель */
  margin-top: 12px;
}
.footer__smm-bar {
  /* Блочная модель */
  margin-top: 25px;
  margin-left: -31px;
}
.ico-smm-bg {
  /* Блочная верстка */
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
.footer__ico-smm-bg {
  margin-left: 31px;
}
.ico-smm-bg:hover{
  box-shadow: 1px 1px 1px 1px var(--light-gray);
}
.ico-smm-bg:hover .ico-smm{
  fill: var(--transparent-darkgreen)
}
.footer__footer-copyright-text {
  /* Блочная модель */
  margin-top: 100px;
}

/* ТАБЛИЧНАЯ ВЕРСТКА */
.why-we__why-we-table {
  /* Блочная модель */
  margin-top: 57px;
}
.why-we__why-we-row {
  /* Блочная модель */
  margin: 0px -23px auto;
  overflow: hidden;
}
.why-we-col {
  /* Блочная модель */
  float: left;
  width: 33.33%;
  height: 367px;
  overflow: hidden;
  /* Типографика */
  text-align: center;
}
.why-we-col:nth-of-type(2n+1) {
  background-color: var(--light-light-gray);
}
.why-we__why-we-col {
  /* Блочная модель */
  padding: 27px;
}

.movies-table {
  /* Блочная модель */
  width: 850px;
  height: 850px;
}
.movies__movies-table {
  /* Блочная модель */
  margin: 64px 0 0 4px;
}
.movies-row {
  /* Блочная модель */
  height: 33.33%;
  /* overflow: hidden; */
}
.movies-col {
  /* Блочная модель */
  width: 33.33%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.movies__movies-col {
  /* Позиционирование */
  position: relative;
}

.goods-table {
  /* Блочная модель */
  width: 100%;
  height: 100%;
}
.goods__goods-table {
  /* Блочная модель */
  margin-top: 57px;
}
.goods-row {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.goods__goods-row {
  /* Блочная модель */
  margin: 0 auto;
}
.goods-col {
  /* Блочная модель */
  float: left;
  width: 245px;
  height: 331px;
}
.goods__goods-col {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  display: table;
  margin: 0 19px;
}
.reviews__reviews-table {
  /* Блочная модель */
  margin: 0;
  /* Позиционирование */
  position: relative;
  left: 3px;
}
.reviews-item {
  /* Блочная модель */
  float: left;
  width: 210px;
  height: 284px;
  /* Типографика */
  text-align: left;
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
  border-radius: 9px;
}
.reviews__reviews-item {
  /* Блочная модель */
  margin: 100px 0;
}
.reviews-item_active {
  /* Блочная модель */
  width: 246px;
  height: 332px;
}
.reviews__reviews-item_active {
  /* Блочная модель */
  margin: 75px 45px;
}
.reviews__reviews-item-p_active {
  /* Блочная модель */
  margin-top: 19px;
}
.reviews__reviews-item-date {
  margin-top: 10px;
}
.reviews__reviews-item-date_active {
  /* Блочная модель */
  margin-top: 30px;
}
.reviews-text {
  /* Блочная модель */
  width: 548px;
}
.reviews__reviews-text {
  /* Блочная модель */
  margin-top: 26px;
  margin-left: 6px;
}
.reviews__reviews-item-text {
  /* Блочная модель */
  margin-top: 18px;
  padding: 0 11px 0 8px;
}
.reviews__reviews-item-text_active {
  /* Блочная модель */
  margin-top: 18px;
  padding: 0 14px 0 17px;
}
