/* Стили элементов макетов страниц (шапка и подвал страницы, навигационная область, различные разделы страницы, сетка, ...) */
/* ==================== ОБЩИЕ ==================== */
body {
  /* background-color:var(--light-light-gray); */
  min-width: 320px;
  max-width: 1920px;
}
.container {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  margin: 0 auto;
  /* Оформление */
  /* background-color: var(--white); */
}
.section {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  padding: 0 6.75rem;
}
/* ==================== HEADER ==================== */
.header-container {
  /* Блочная модель */
  height: /* 59.5vw */ 100vh;
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-black);
}
.header-container::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/header-bg.png) center no-repeat;
  background-size: cover;
  /* Разное */
  content: "";
}
.header__header-skip {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  /* Блочная модель */
  padding: 0.25rem;
}
.header__iu-logo {
  /* Позиционирование */
  position: absolute;
  top: 4.45vw;
  left: 7.9vw;
  z-index: 1;
}
.header__header-title-div {
  /* Позиционирование */
  position: relative;
  top: 20.1vw;
}
.header-title-div__header-title {
  /* Блочная модель */
  display: block;
}
.header-title-div__header-subtitle {
  /* Блочная модель */
  display: block;
  margin-top: 0.44em;
}
.header-nav-contacts__lang {
  /* Блочная модель */
  margin-left: 3.2rem;
}

/* ==================== Секция "Добро пожаловать!" ==================== */
.welcome {
  /* Блочная модель */
  width: 37.9vw;
  /* Типографика */
  font-size: 0.55rem;
  line-height: 1.3em;
  font-weight: 400;
  color: var(--black);
  /* Оформление */
  background-color: var(--white);
  border-radius: 0.9vw;
  box-shadow: 0 2.5vw 3.5vw var(--shadow-green);
}
.main-container__welcome {
  /* Блочная модель */
  margin: 0 11.9vw 0 auto;
  padding: 2.73em 2.35rem;
}
.welcome__welcome-h2 {
  /* Блочная модель */
  margin-bottom: 0.65em; /* Исправить на margin-top */
}
/* ==================== Секция "Почему мы?" ==================== */
.main-container__why-we {
  /* Блочная модель */
  padding-top: 1.45em;
  padding-bottom: 1.45em;
}
.why-we__why-we-h3 {
  /* Позиционирование */
  margin-top: 2.4em;
  margin-bottom: 1.6em; /* Исправить на margin-top */
}
/* ==================== Секция "Выберите фильм" ==================== */
.main-container__choose-movie {
  /* Блочная модель */
  padding-top: 5.75em;
  padding-bottom: 4.7em; /* ? */
}
.choose-movie-text {
}
.choose-movie__choose-movie-text {
  /* Блочная модель */
  margin: 0 auto;
  padding: 0.67em 7.75rem;
}
.choose-movie-table {
  /* Блочная модель */
  width: 75.7vw;
  min-height: 80vh;
  /* Оформление */
  border: none;
  border-collapse: separate;
}
.choose-movie__choose-movie-table {
  /* Блочная модель */
  margin: 7.5vw 0 0 3px;
}
.choose-movie-tr {
}
.choose-movie-table tr:nth-child(2n + 1) {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--light-gray);
}
.choose-movie-table tr:nth-child(2n) {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--dark-gray);
}
.choose-movie-th {
  /* Типографика */
  font-size: 1rem;
  line-height: 1.3em;
  font-weight: 600;
  text-align: left;
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
}
.choose-movie-th_narrow {
  width: 6.3vw;
}
.choose-movie-th_wide {
  width: 21.4vw;
}
.choose-movie__choose-movie-th {
  /* Позиционирование */
  vertical-align: top;
  /* Блочная модель */
  padding: 0.45em 0.5rem;
}
.choose-movie__choose-movie-td {
  /* Позиционирование */
  vertical-align: top;
  /* Блочная модель */
  padding: 0.95em 0.5rem;
}
.choose-movie-td {
  /* Типографика */
  font-size: 0.7rem;
  line-height: 1.3em;
  font-weight: 400;
}
.choose-movie-table tr:first-child th:first-child {
  border-top-left-radius: 0.9vw;
}
.choose-movie-table tr:first-child th:last-child {
  border-top-right-radius: 0.9vw;
}
.choose-movie-table tr:last-child td:first-child {
  border-bottom-left-radius: 0.9vw;
}
.choose-movie-table tr:last-child td:last-child {
  border-bottom-right-radius: 0.9vw;
}
/* ==================== Секция "Подарок каждому!" ==================== */
.gift-to-everyone {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-black);
}
.gift-to-everyone::after {
  /* Позиционирование */
  position: absolute;
  top: 0.9vw;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/present-bg.png) center no-repeat;
  background-size: cover;
  /* Разное */
  content: "";
}
.present {
  height: 24.6vw;
  width: 24.6vw;
}
.gift-to-everyone__present {
  /* Позиционирование */
  position: relative;
  top: -4vw;
  left: 4px;
}
.gift-to-everyone__inner {
  /* Позиционирование */
  position: relative;
  top: -14.2vw;
  right: 0;
  /* Блочная модель */
  margin-left: 15.3rem;
  /* Типографика */
  text-align: right;
}
.gift-to-everyone__gift-to-everyone-h2 {
  /* Блочная модель */
  margin-bottom: 3.4vw; /* Исправить на margin-top */
}
.gift-to-everyone__gift-to-everyone-p {
  /* Блочная модель */
  margin-top: 0.47em;
}

/* ==================== Секция "Фильмы" ==================== */
.main-container__movies {
  /* Блочная модель */
  padding-top: 2.05em;
  padding-bottom: 1.55em;
}
.movies__movies-h2 {
  /* Блочная модель */
  margin-left: 2px;
}
.movies-text {
}
.movies__movies-text {
  /* Блочная модель */
  margin-top: 1.35em;
  margin-left: 4px;
  padding-right: 15rem;
}
.movies-item-cover {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  /* Оформление */
  background-color: var(--transparent-black);
}
.movies__movies-item-cover {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
}
.movies-item-desc {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-darkgreen);
}
.movies__movies-item-desc {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  /* Блочная модель */
  padding: 0.85em 1.15rem;
}

/* ==================== Секция "Товары" ==================== */
.main-container__goods {
  /* Блочная модель */
  padding-top: 2.4em;
  padding-bottom: 2.4em; /* ? */
}
.goods__goods-item-img {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: bottom;
}
.movies-img {
  /* Позиционирование */
  width: 100%;
}
.movies__movies-img {
  /* Позиционирование */
  vertical-align: bottom;
}
.goods__goods-h2 {
  /* Блочная модель */
  margin-left: 4px;
}
.goods-text {
}
.goods__goods-text {
  /* Блочная модель */
  margin-top: 1.35em;
  margin-left: 4px;
  padding-right: 15rem;
}
.goods__trapezoid {
  /* Позиционирование */
  position: absolute;
  bottom: 0;
  left: 0;
}
.goods-item-desc {
  /* Позиционирование */
  position: absolute;
  bottom: 0;
  /* Блочная модель */
  display: flex;
  width: 100%;
  height: 13.7vw;
  align-items: center;
  justify-content: center;
  /* Типографика */
  color: var(--white);
}
.goods__goods-item-desc {
  /* Позиционирование */
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 2.1em;
  vertical-align: middle;
}

/* ==================== Секция "Отзывы" ==================== */
.reviews {
  /* Типографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--transparent-black);
}
.reviews::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/reviews-bg.png) center no-repeat;
  background-size: cover;
  /* Разное */
  content: "";
}
.main-container__reviews {
  /* Блочная модель */
  padding-top: 6.3em;
  padding-bottom: 0.9em;
}
.reviews__reviews-h2 {
  /* Блочная модель */
  margin-left: 4px;
}

/* ==================== Секция "Обратная связь" ==================== */
.feedback {
  /* Блочная модель */
  width: 68.3vw;
  padding-top: 1.6em;
  padding-right: 2.1rem;
  padding-bottom: 1.55em;
  padding-left: 19rem;
  /* Оформление */
  border-radius: 1.8vw;
  box-shadow: 0.8vw 0.9vw 3.5vw var(--shadow-light-gray);
}
.feedback::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/feedback_2.png) left no-repeat;
  background-size: contain;
  background-color: var(--white);
  border-radius: 1.9vw;
  /* Разное */
  content: "";
}
.main-container__feedback {
  /* Блочная модель */
  margin: 3.9vw auto 0;
  clear: both;
}
.feedback__feedback-form {
  /* Блочная модель */
  margin-top: 5px;
}
.feedback__feedback-form-item {
  margin: 0.94em auto 0;
}
/* ==================== Секция "Как добраться" ==================== */
.how-to-get {
}
.main-container__how-to-get {
  margin: 0 auto;
  padding: 0 3.75rem;
}
.map {
  width: 100%;
}
.how-to-get__map {
  /* Блочная модель */
  margin-top: -3px;
}

/* ======================================== FOOTER ======================================== */
/* ==================== КОНТЕЙНЕРЫ ==================== */
.footer-container {
  /* Блочная модель */
  padding-top: 4.5em;
  padding-right: 4.5rem;
  padding-bottom: 1.55em;
  padding-left: 4.5rem;
  overflow: hidden;
  /* Типоографика */
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
}
.footer-inner-col1 {
  /* Блочная модель */
  float: left;
  width: 36.1vw;
}
.footer-text {
}
.footer__footer-text {
  /* Блочная модель */
  margin-top: 0.7em;
  padding-right: 7.5rem;
}
.footer__iu-logo {
  /* Блочная модель */
  margin-top: -6px;
}
/* ==================== МЕНЮ ==================== */
.header__header-nav-contacts {
  /* Позиционирование */
  position: absolute;
  top: 3.5vw;
  left: 21.65vw;
}
.header-nav-menu {
  /* Блочная модель */
  float: right;
}
.header__header-nav-menu {
  /* Позиционирование */
  position: absolute;
  top: 6.6vw;
  left: 18.9vw;
}
.header-nav-contacts-li,
.header-nav-menu-li,
.footer-nav-contacts-li,
.footer-nav-menu-li {
  /* Типографика */
  font-size: 0.6rem;
  line-height: 1.3em;
  font-weight: 500;
}
.header-nav-contacts__header-nav-contacts-li {
  /* Позиционирование */
  vertical-align: middle;
  /* Блочная модель */
  display: inline-block;
  margin: auto 0 auto 4vw;
}
.header-nav-menu__header-nav-menu-li {
  /* Позиционирование */
  vertical-align: middle;
  /* Блочная модель */
  display: inline-block;
  margin: auto 0 auto 3.85rem;
}
.header-nav-contacts__reguest-call {
  /* Позиционирование */
  position: relative;
}
.footer-nav-contacts {
  /* Блочная модель */
  float: left;
  padding-right: 5.55rem;
  padding-left: 1.7rem;
}
.footer__footer-nav-contacts {
  /* Позиционирование */
  position: relative;
}
.footer-nav-menu {
  /* Блочная модель */
  float: left;
  padding-right: 3.85rem;
  padding-left: 1.7rem;
}
.footer__footer-nav-menu {
  /* Позиционирование */
  position: relative;
}
.footer-nav-contacts__footer-nav-contacts-ul,
.footer-nav-menu__footer-nav-menu-ul {
  /* Блочная модель */
  margin-top: 1.3em;
}
.footer-nav-contacts__footer-nav-contacts-li,
.footer-nav-menu__footer-nav-menu-li {
  /* Блочная модель */
  margin-top: 2.17em;
}
.smm-bar {
  overflow: hidden;
}
.footer__smm-bar {
  /* Блочная модель */
  margin-top: 1.25em;
  margin-left: -1.55rem;
}
.ico-smm-bg {
  /* Блочная верстка */
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
.footer__ico-smm-bg {
  margin-left: 1.55rem;
}
.ico-smm-bg:hover {
  box-shadow: 1px 1px 1px 1px var(--light-gray);
}
.ico-smm-bg:hover .ico-smm {
  fill: var(--transparent-darkgreen);
}
.footer__footer-copyright-text {
  /* Блочная модель */
  margin-top: 5em;
}

/* ТАБЛИЧНАЯ ВЕРСТКА */
.why-we__why-we-table {
  /* Блочная модель */
  margin-top: 5.1vw;
}
.why-we__why-we-row {
  /* Блочная модель */
  margin: 0 -2.1vw auto;
  overflow: hidden;
}
.why-we-col {
  /* Блочная модель */
  float: left;
  width: 33.33%;
  height: 32.7vw;
  overflow: hidden;
}
.why-we__why-we-col {
  /* Блочная модель */
  padding: 1.35em 1.25rem;
}

.movies-table {
  /* Блочная модель */
  width: 75.7vw;
  height: 75.7vw;
}
.movies__movies-table {
  /* Блочная модель */
  margin: 3.2em 0 0 4px;
}
.movies-row {
  /* Блочная модель */
  height: 33.33%;
  /* overflow: hidden; */
}
.movies-col {
  /* Блочная модель */
  width: 33.33%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.movies__movies-col {
  /* Позиционирование */
  position: relative;
}

.goods-table {
  /* Блочная модель */
  width: 100%;
  height: 100%;
}
.goods__goods-table {
  /* Блочная модель */
  margin-top: 2.85em;
}
.goods-row {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.goods__goods-row {
  /* Блочная модель */
  margin: 0 auto;
}
.goods-col {
  /* Блочная модель */
  float: left;
  width: 21.8vw;
  height: 29.5vw;
}
.goods__goods-col {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  display: table;
  margin: 0 1.7vw;
}
.reviews__reviews-table {
  /* Блочная модель */
  margin: 0;
  /* Позиционирование */
  position: relative;
  left: 3px;
}
.reviews-item {
  /* Блочная модель */
  float: left;
  width: 18.7vw;
  height: 25.3vw;
  /* Типографика */
  text-align: left;
  color: var(--white);
  /* Оформление */
  background-color: var(--basic-green);
  border-radius: 0.9vw;
}
.reviews__reviews-item {
  /* Блочная модель */
  margin: 8.9vw 0;
}
.reviews-item_active {
  /* Блочная модель */
  width: 246px;
  height: 332px;
}
.reviews__reviews-item_active {
  /* Блочная модель */
  margin: 75px 45px;
}
.reviews__reviews-item-p_active {
  /* Блочная модель */
  margin-top: 19px;
}
.reviews__reviews-item-date {
  margin-top: 1.25em;
}
.reviews__reviews-item-date_active {
  /* Блочная модель */
  margin-top: 30px;
}
.reviews-text {
}
.reviews__reviews-text {
  /* Блочная модель */
  margin-top: 1.3em;
  margin-left: 0.3rem;
  padding-right: 15rem;
}
.reviews__reviews-item-text {
  /* Блочная модель */
  margin-top: 0.9em;
  padding: 0 0.55rem 0 0.4rem;
}
.reviews__reviews-item-text_active {
  /* Блочная модель */
  margin-top: 18px;
  padding: 0 0.7rem 0 0.85rem;
}
