/* ======================================== ОБЩИЕ ======================================== */
/* ==================== КОНТЕЙНЕРЫ ==================== */
.container {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  width: 1124px;
  margin: 0 auto;
  padding: 0;
  /* Оформление */
  /* background-color: white;  */
}
.body {
  margin: 0;
}
/* ==================== ТЕКСТ ==================== */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;500;600&display=swap");
* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
}
.h2 {
  /* Типографика */
  font-size: 48px;
  line-height: 62px;
  font-weight: 500;
  color: #7b9d2a /* #a3cc40 */;
}
.text {
  margin-bottom: 13px;
  /* Типографика */
  font-size: 11px;
  color: #333333;
}
/* ==================== ИЗОБРАЖЕНИЯ ==================== */
.svg_white {
  /* Оформление */
  fill: white;
}
.svg_inherit-size {
  /* Блочная модель */
  width: 100%;
  height: 100%;
}
/* ==================== ОФОРМЛЕНИЕ ==================== */
.triangle-upward {
  /* Блочная модель */
  width: 100%;
  height: 128px;
  /* Оформление */
  background-color: white;
  /* Разное */
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.triangle-downward {
  /* Блочная модель */
  width: 100%;
  height: 128px;
  /* Оформление */
  background-color: white;
  /* Разное */
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
.triangle_top_left {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
}
.triangle_bottom_right {
  /* Позиционирование */
  position: absolute;
  right: 0;
  bottom: 0;
}
/* ==================== МЕНЮ ==================== */
.nav__ul {
  /* Блочная модель */
  margin: 0;
  padding: 0;
}
.nav-li {
  list-style-type: none;
}

/* ======================================== HEADER ======================================== */
/* ==================== КОНТЕЙНЕРЫ ==================== */
.header__container {
  /* Блочная модель */
  height: 668px; /* ? */
  /* Оформление */
  background: rgba(22, 22, 22, 0.8);
}
.header__container::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/header-bg.png) center no-repeat;
  /* Разное */
  content: "";
}
/* ==================== ЗАГОЛОВКИ ==================== */
.header__header-title {
  /* Позиционирование */
  position: absolute;
  top: 224px;
  left: 198px;
  /* Блочная модель */
  width: 728px;
  margin: 0;
  padding: 0;
}
.header-title__h {
  /* Блочная модель */
  margin: 0;
}
.header-title {
  /* Блочная модель */
  width: 100%;
  height: 88px;
  /* Типографика */
  font-size: 68px;
  line-height: 88px;
  font-weight: 100;
  text-align: center;
  color: white;
}
.header-title__header-title {
  /* Блочная модель */
  display: block;
  margin: 0;
  padding: 0 0 19px 0;
}
.header-subtitle {
  /* Блочная модель */
  width: 100%;
  height: 53px;
  /* Типографика */
  font-size: 41px;
  line-height: 53px;
  font-weight: 400;
  text-align: center;
  color: white;
}
.header-title__header-subtitle {
  /* Блочная модель */
  display: block;
  margin: 0;
  padding: 0;
}
/* ==================== ЛОГОТИП ==================== */
.header__header-iu-logo {
  /* Позиционирование */
  position: absolute;
  top: 51px;
  left: 89px;
}
.header-iu-logo {
  /* Блочная модель */
  width: 156px;
  height: 40px;
}
/* ==================== МЕНЮ ==================== */
.header__header-nav-contacts {
  /* Позиционирование */
  position: absolute;
  top: 44px;
  left: 289px;
}
.header__header-nav-menu {
  /* Позиционирование */
  position: absolute;
  top: 74px;
  left: 289px;
}
.header-nav-menu {
  /* Блочная модель */
  float: right;
}
.header-nav-li {
  /* Типографика */
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.header-nav__header-nav-li {
  /* Позиционирование */
  vertical-align: middle;
  /* Блочная модель */
  display: inline-block;
  margin: auto 46px auto 0;
  padding: 0;
}

/* ==================== ССЫЛКИ ==================== */
.header__link {
  /* Типографика */
  text-decoration: none;
  color: white;
}
.header__link:hover {
  /* Типографика */
  text-decoration-line: underline;
  color: #a3cc40;
}
.header-skip {
  /* Типографика */
  text-decoration: none;
  color: white;
  /* Оформление */
  background-color: #333333;
}
.header__header-skip {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  /* Блочная модель */
  padding: 5px;
}
.header-skip:hover {
  /* Типографика */
  text-decoration-line: underline;
  color: #a3cc40;
  /* Оформление */
  background-color: white;
}
/* ==================== КНОПКИ ==================== */
.reguest-call {
  /* Блочная модель */
  width: 130px;
  height: 21px;
  /* Оформление */
  background-color: white;
  border: 0;
  border-radius: 6px;
}
.header-nav-contacts__reguest-call {
  /* Позиционирование */
  position: relative;
}
.reguest-call:hover {
  /* Типографика */
  color: white;
  /* Оформление */
  background-color: #a3cc40;
  fill: white;
}
.reguest-call__ico-phone {
  /* Позиционирование */
  position: absolute;
  top: 5px;
  left: 8px;
  /* Блочная модель */
  margin: 0;
  padding: 1px;
}
.ico-phone {
  /* Блочная модель */
  width: 10px;
  height: 10px;
}
.reguest-call-label {
  /* Типографика */
  font-size: 12px;
  line-height: 16px;
}
.reguest-call__reguest-call-label {
  /* Позиционирование */
  position: absolute;
  top: 3px;
  left: 28px;
  /* Блочная модель */
  margin: 0;
  padding: 0;
}

/* ==================== ВЫПАДАЮЩИЕ СПИСКИ ==================== */
.header-nav-contacts__lang {
  /* Блочная модель */
  margin-right: 0px;
  margin-left: 64px;
}
.lang {
  /* Блочная модель */
  width: auto;
  /* Типографика */
  color: white;
  /* Оформление */
  background: none;
  border: none;
  outline: none;
}

/* ======================================== MAIN ======================================== */
/* ==================== ОБЩИЕ ==================== */
.section {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  box-sizing: border-box;
  margin: 0 135px;
  /* clear: both; */
}

/* ==================== Секция "Добро пожаловать!" ==================== */
.welcome {
  /* Блочная модель */
  width: 426px;
  height: 221px;
  /* Оформление */
  background: white;
  border-radius: 10px;
  box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
}
.main-container__welcome {
  /* Позиционирование */
  position: absolute;
  top: -143px;
  left: 563px;
  z-index: 2;
  /* Блочная модель */
  margin: 0;
  padding: 30px 47px;
}
.main-container-h2 {
  /* Типографика */
  font-size: 33px;
  line-height: 43px;
  font-weight: 600;
  color: #333333;
}
.main-container__main-container-h2 {
  /* Блочная модель */
  margin-top: 0;
  margin-bottom: 22px;
}
.main-container-text {
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
}

/* ==================== Секция "Почему мы?" ==================== */
.main-container__why-we {
  /* Блочная модель */
  padding-top: 29px;
}
.why-we__why-we-h2 {
  /* Блочная модель */
  margin-top: 0px;
  margin-bottom: 84px;
}
.why-we__why-we-row {
  /* Блочная модель */
  margin-left: -23px;
  margin-right: -23px;
  overflow: hidden;
}
.why-we-col {
  /* Блочная модель */
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  height: 338px;
  /* Типографика */
  text-align: center;
}
.why-we__why-we-col {
  /* Блочная модель */
  margin: 0 0 29px 0;
  padding: 0 27px;
}
.why-we-img {
  /* Блочная модель */
  width: 245px;
  height: 169px;
}
.why-we__why-we-img {
  /* Позиционирование */
  margin-bottom: 36px;
  vertical-align: bottom;
}
.why-we-h3 {
  /* Типографика */
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}
.why-we__why-we-h3 {
  /* Позиционирование */
  margin-top: 0;
  margin-bottom: 24px;
}

/* ==================== Секция "Выберите фильм" ==================== */
.main-container__choose-movie {
  /* Блочная модель */
  padding-top: 115px;
}
.choose-movies__choose-movie-h2 {
  /* Блочная модель */
  margin-top: 0px;
  margin-bottom: 84px;
}
.choose-movie-table {
  /* Блочная модель */
  width: 849px;
  /* Типографика */
  color: #ffffff;
  /* Оформление */
  border: none;
  border-collapse: collapse;
}
.choose-movies__choose-movie-table {
  /* Блочная модель */
  margin: 0 0 30px 3px;
  padding: 0;
}
.choose-movie-th {
  /* Блочная модель */
  height: 41px;
  /* Типографика */
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-align: left;
  /* Оформление */
  background: #617d21 /* #a3cc40 */;
}
.choose-movie-th_narrow {
  width: 76px;
}
.choose-movie-wide {
  width: 240px;
}
.choose-movies__choose-movie-th {
  /* Позиционирование */
  vertical-align: top;
  /* Блочная модель */
  padding: 2px 1px;
}
.choose-movies__link {
  /* Блочная модель */
  display: block;
  /* Типографика */
  text-decoration: none;
  color: white;
}
.choose-movie-tr_light {
  /* Оформление */
  background: #6c6c6c;
}
.choose-movie-tr_dark {
  /* Оформление */
  background: #373737;
}
.choose-movie-td {
  /* Блочная модель */
  height: 41px;
  /* Типографика */
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.choose-movies__choose-movie-td {
  /* Позиционирование */
  vertical-align: top;
  /* Блочная модель */
  padding: 2px 1px;
}
.choose-movie-th_rounded-top-left {
  border-top-left-radius: 10px;
}
.choose-movie-th_rounded-top-right {
  border-top-right-radius: 10px;
}
.choose-movie-td_rounded-bottom-left {
  border-bottom-left-radius: 10px;
}
.choose-movie-td_rounded-bottom-right {
  border-bottom-right-radius: 10px;
}
.choose-movie-text {
  /* Блочная модель */
  width: 539px;
  /* Типографика */
  text-align: center;
}
.choose-movies__choose-movie-text {
  /* Блочная модель */
  margin: 0 auto;
}

/* ==================== Секция "Подарок каждому!" ==================== */
.gift-to-everyone {
  /* Блочная модель */
  width: 1124px;
  height: 587px;
  /* Оформление */
  background: rgba(22, 22, 22, 0.8);
}
.gift-to-everyone::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/present-bg.png) center no-repeat;
  /* Разное */
  content: "";
}
.main-container__gift-to-everyone {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  margin: 122px 0 0 0;
}
.gift-to-everyone__present {
  /* Позиционирование */
  position: absolute;
  top: -58px;
  left: 139px;
  z-index: 2;
}
.gift-to-everyone__inner {
  /* Позиционирование */
  position: absolute;
  top: 63px;
  right: 135px;
  /* Блочная модель */
  width: 548px;
  margin: 0;
}
.gift-to-everyone-h2 {
  /* Типографика */
  text-align: right;
  color: white;
}
.gift-to-everyone__gift-to-everyone-h2 {
  /* Блочная модель */
  margin-bottom: 38px;
}
.gift-to-everyone-text {
  /* Типографика */
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  text-align: right;
  color: white;
}
.gift-to-everyone__gift-to-everyone-text {
  /* Блочная модель */
  margin-top: 0;
  margin-bottom: 15px;
}
.gift-to-everyone-button {
  /* Блочная модель */
  box-sizing: border-box;
  width: 190px;
  height: 30px;
  /* Типографика */
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: white;
  /* Оформление */
  background-color: #617d21 /* #a3cc40 */;
  border: 0;
  border-radius: 6px;
}
.gift-to-everyone button:hover {
  /* Типографика */
  color: #617d21 /* #a3cc40 */;
  /* Оформление */
  background: #ffffff;
  border: 1px solid rgba(163, 204, 64, 0.62);
  border-radius: 6px;
  box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
}
.gift-to-everyone__gift-to-everyone-button {
  /* Позиционирование */
  position: absolute;
  right: 2px;
  /* Блочная модель */
  margin-top: 15px;
}

/* ==================== Секция "Фильмы" ==================== */
.main-container__movies {
  /* Блочная модель */
  padding-top: 45px;
}
.movies__movies-h2 {
  /* Блочная модель */
  margin-top: 0px;
  margin-bottom: 26px;
  margin-left: 2px;
}
.movies-text {
  /* Блочная модель */
  width: 548px;
}
.movies__movies-text {
  /* Блочная модель */
  margin-left: 4px;
}
.movies-table {
  /* Блочная модель */
  width: 850px;
  height: 850px;
}
.movies__movies-table {
  /* Блочная модель */
  margin: 64px 0 0 4px;
  padding: 0;
}
.movies-row {
  /* Блочная модель */
  height: 33.33%;
  /* overflow: hidden; */
}
.movies__movies-row {
  /* Блочная модель */
  margin: 0;
  padding: 0;
}
.movies-col {
  /* Блочная модель */
  box-sizing: border-box;
  width: 33.33%;
  height: 100%;
  float: left;
}
.movies__movies-col {
  /* Позиционирование */
  position: relative;
  margin: 0;
  padding: 0;
}
.movies__movies-img {
  /* Позиционирование */
  vertical-align: bottom;
}
.movies-item-desc {
  /* Блочная модель */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* Оформление */
  background: rgba(22, 22, 22, 0.8);
}
.movies__movies-item-desc {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  /* Блочная модель */
  padding: 16px 23px;
}
.movies-item-desc:hover {
  /* Оформление */
  background: rgba(144, 210, 61, 0.4);
}
.movies-item-desc-h3 {
  /* Оформление */
  font-size: 29px;
  line-height: 38px;
  font-weight: 600;
  color: white;
  /* Разное */
  visibility: hidden;
}
.movies__movies-item-desc-h3 {
  /* Блочная модель */
  margin: 0 0 14px -1px;
}
.movies-item-desc-text {
  /* Типографика */
  line-height: 14px;
  /* Оформление */
  color: white;
  /* Разное */
  visibility: hidden;
}
.movies-item-desc:hover .movies-item-desc-h3,
.movies-item-desc:hover .movies-item-desc-text {
  visibility: visible;
}

/* ==================== Секция "Товары" ==================== */
.main-container__goods {
  /* Блочная модель */
  padding-top: 79px;
}
.goods__goods-h2 {
  /* Блочная модель */
  margin-top: 0px;
  margin-bottom: 26px;
  margin-left: 3px;
}
.goods-text {
  /* Блочная модель */
  width: 548px;
}
.goods__goods-text {
  /* Блочная модель */
  margin-left: 4px;
  margin-bottom: 57px;
}
.goods-table {
  /* Блочная модель */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.goods__goods-table {
  /* Позиционирование */
  /* margin-left: 2px; */
  padding: 0;
}
.goods-row {
  /* Блочная модель */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.goods__goods-row {
  /* Блочная модель */
  margin: 0 auto;
  padding: 0;
}
.goods-col {
  /* Блочная модель */
  box-sizing: border-box;
  float: left;
  width: 245px;
  height: 331px;
}
.goods__goods-col {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  display: table;
  margin: 0 19px;
  padding: 0;
}
.goods-item-img {
  /* Блочная модель */
  width: 245px;
  height: 331px;
}
.goods__goods-item-img {
  /* Позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: bottom;
}
.goods-cover {
  /* Позиционирование */
  position: absolute;
  bottom: 0;
  /* Блочная модель */
  width: 100%;
  height: 153px;
  /* Оформление */
  background: rgba(163, 204, 64, 0.8);
  /* Разное */
  clip-path: polygon(245px 0, 245px 153px, 0 153px, 0 65px);
}
.goods-item-desc {
  /* Блочная модель */
  display: table-cell;
  width: 245px;
  height: 100px;
}
.goods__goods-item-desc {
  /* Позиционирование */
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 47px 0 4px;
  vertical-align: middle;
}
.goods-item-desc-text {
  /* Типографика */
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  color: white;
}
.goods-item-desc-text {
  /* Блочная модель */
  margin: 8px 0;
}

/* ==================== Секция "Отзывы" ==================== */
.reviews {
  /* Блочная модель */
  width: 1124px;
  height: 792px;
  /* Оформление */
  background: rgba(22, 22, 22, 0.8);
}
.reviews::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/reviews-bg.png) center no-repeat;
  /* Разное */
  content: "";
}
.main-container__reviews {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  margin: 48px 0 0 0;
  padding: 126px 135px 0;
}
.reviews__reviews-h2 {
  /* Блочная модель */
  margin-top: 0px;
  margin-bottom: 26px;
  margin-left: 4px;
}
.reviews-text {
  /* Блочная модель */
  width: 548px;
}
.reviews__reviews-text {
  /* Блочная модель */
  margin-top: 0;
  margin-left: 6px;
}
.reviews-p {
  /* Типографика */
  line-height: 14px;
  color: white;
}
.reviews__reviews-table {
  /* Позиционирование */
  position: relative;
}
.reviews-item {
  /* Типографика */
  text-align: left;
  /* Оформление */
  background-color: #617d21 /* #a3cc40 */;
  border-radius: 9px;
}
.reviews__reviews-item1 {
  /* Позиционирование */
  position: absolute;
  top: 86px;
  left: 7px;
}
.reviews__reviews-item2 {
  /* Позиционирование */
  position: absolute;
  top: 62px;
  left: 307px;
}
.reviews__reviews-item3 {
  /* Позиционирование */
  position: absolute;
  top: 87px;
  left: 641px;
}
.reviews-item_default {
  /* Блочная модель */
  width: 210px;
  height: 284px;
}
.reviews-item_active {
  /* Блочная модель */
  width: 246px;
  height: 332px;
}
.reviews-item-img {
  /* Блочная модель */
  width: 100%;
}
.reviews-item-h3 {
  /* Блочная модель */
  margin-top: 0px;
  margin-bottom: 15px;
  /* Типографика */
  font-size: 15px;
  line-height: 19px;
  font-weight: 600;
  color: #ffffff;
}
.reviews-item-h3_active {
  /* Типографика */
  font-size: 18px;
  line-height: 23px;
}
.reviews__reviews-item1-text {
  /* Блочная модель */
  margin-top: 14px;
  padding: 0 9px;
}
.reviews__reviews-item2-text {
  /* Блочная модель */
  margin-top: 13px;
  padding: 0 14px 0 17px;
}
.reviews__reviews-item3-text {
  /* Блочная модель */
  margin-top: 11px;
  padding: 0 19px 0 17px;
}
.reviews-item-p {
  /* Типографика */
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
}
.reviews__reviews-item1-p {
  /* Блочная модель */
  margin-top: -1px;
}
.reviews__reviews-item2-p {
  /* Блочная модель */
  margin-top: 19px;
}
.reviews__reviews-item3-p {
  /* Блочная модель */
  margin-top: -3px;
}
.reviews-item-p_active {
  /* Типографика */
  font-size: 11px;
  line-height: 14px;
}
.reviews-item-date {
  /* Типографика */
  font-size: 8px;
  line-height: 10px;
  font-weight: 300;
  text-align: right;
  color: #ffffff;
}
.reviews__reviews-item-date {
  /* Позиционирование */
  position: absolute;
  right: 10px;
  bottom: 1px;
}
.reviews-item-date_active {
  /* Типографика */
  font-size: 9px;
  line-height: 12px;
}
.reviews__reviews-item-date_active {
  /* Позиционирование */
  position: absolute;
  right: 15px;
  bottom: 1px;
}

/* ==================== Секция "Обратная связь" ==================== */
.feedback {
  /* Блочная модель */
  width: 767px;
  height: 527px;
}
.feedback::after {
  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Оформление */
  background: url(/images/feedback.png) center no-repeat;
  /* Разное */
  content: "";
}
.main-container__feedback {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  margin: 43px 0 0 174px;
  clear: both;
}
.feedback__inner {
  /* Позиционирование */
  position: absolute;
  top: 32px;
  left: 375px;
}
.feedback-h2 {
  /* Типографика */
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
}
.feedback__feedback-h2 {
  /* Блочная модель */
  margin-top: 0;
  margin-bottom: 14px;
}
.feedback-form-item {
  /* Блочная модель */
  width: 314px;
  max-width: 346px;
  height: 40px;
  /* Типографика */
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  color: #616161; /* #a1a1a1 */
  /* Оформление */
  background-color: #dedede;
  border: 1px solid transparent;
  border-radius: 5px;
}
.feedback__feedback-form-item {
  /* Блочная модель */
  margin: auto;
  padding: 0 15px;
}
.feedback-form-select-seat {
  /* Блочная модель */
  width: 344px;
}
.feedback__feedback-form-select-seat {
  /* Блочная модель */
  padding: 0 10px;
}
.feedback-form-textarea {
  /* Блочная модель */
  height: 105px;
  min-height: 40px;
  resize: vertical;
}
.feedback__feedback-form-textarea {
  /* Блочная модель */
  padding-top: 13px;
}
.feedback-form-checkbox {
  /* Блочная модель */
  width: 18px;
  height: 18px;
  /* Оформление */
  background-color: #dedede;
  border: 1px solid #a3cc40;
  border-radius: 5px;
}
.feedback__feedback-form-checkbox {
  /* Блочная модель */
  margin: auto 5px auto auto;
}
.feedback-form-checkbox-label {
  /* Типографика */
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #333333;
}
.feedback__feedback-form-checkbox-label {
  margin: auto 0px;
}
.feedback-form-submit {
  /* Блочная модель */
  box-sizing: border-box;
  width: 344px;
  height: 57px;
  /* Типографика */
  font-size: 20px;
  font-weight: 500;
  color: white;
  /* Оформление */
  background-color: #617d21 /* #a3cc40 */;
  border: 0;
  border-radius: 6px;
}
.feedback__feedback-form-submit {
  /* Блочная модель */
  margin: 7px 5px;
}
.feedback-form-submit:hover {
  /* Типографика */
  color: #617d21 /* #a3cc40 */;
  /* Оформление */
  background: #ffffff;
  border: 1px solid rgba(163, 204, 64, 0.62);
  border-radius: 6px;
  box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
}
.feedback-form-item-outline {
  /* Блочная модель */
  width: fit-content;
  max-width: 356px;
}
.feedback__feedback-form-item-outline {
  /* Блочная модель */
  margin: 0 auto 1px 0;
  padding: 5px;
}
.feedback-form-item-outline:hover {
  /* Оформление */
  background: rgba(170, 243, 77, 0.52);
  border-radius: 5px;
}
.feedback-form-item-outline:hover .feedback-form-item {
  /* Блочная модель */
  margin: 0;
  /* Оформление */
  background-color: white;
  border: 1px solid #c4c4c4;
}

/* ==================== Секция "Как добраться" ==================== */
.how-to-get {
  /* Блочная модель */
  width: 973px;
  height: 421px;
  clear: both;
}
.main-container__how-to-get {
  /* Позиционирование */
  position: relative;
  margin: 61px auto -22px;
  padding: 0;
}

/* ======================================== FOOTER ======================================== */
/* ==================== КОНТЕЙНЕРЫ ==================== */
.footer__container {
  /* Блочная модель */
  height: 362px;
  /* Оформление */
  background-color: #617d21 /* #a3cc40 */;
}
.footer-text {
  /* Блочная модель */
  width: 269px;
  height: 72px;
}
.footer__footer-text {
  /* Позиционирование */
  position: absolute;
  top: 126px;
  left: 89px;
}
.footer-text-p {
  /* Типографика */
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: white;
}
.footer-copyright-text {
  /* Блочная модель */
  width: 436px;
  height: 39px;
}
.footer__footer-copyright-text {
  /* Позиционирование */
  position: absolute;
  top: 297px;
  left: 89px;
}
.footer-copyright-text-p {
  /* Типографика */
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  color: white;
}

/* ==================== ЛОГОТИП ==================== */
.footer__footer-iu-logo {
  /* Позиционирование */
  position: absolute;
  top: 84px;
  left: 90px;
}
.footer-iu-logo {
  /* Блочная модель */
  width: 161px;
  height: 42px;
}

/* ==================== МЕНЮ ==================== */
.footer__footer-nav-contacts {
  /* Позиционирование */
  position: absolute;
  top: 67px;
  left: 738px;
}
.footer__footer-nav-menu {
  /* Позиционирование */
  position: absolute;
  top: 67px;
  left: 529px;
}
.footer-nav-h3 {
  /* Типографика */
  color: white;
}
.footer-nav-menu__footer-nav-h3 {
  margin-bottom: 23px;
}
.footer-nav-li {
  /* Типографика */
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.footer-nav__footer-nav-li {
  /* Блочная модель */
  margin-bottom: 12px;
}

/* ==================== ССЫЛКИ ==================== */
.footer__link {
  /* Типографика */
  text-decoration: none;
  color: white;
}
.footer__link:hover {
  /* Типографика */
  text-decoration-line: underline;
  color: white;
}
