@font-face {
  font-family: "IBM-Plex-Sans";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/IBM_Plex_Sans/IBMPlexSans-Thin.ttf");
}
@font-face {
  font-family: "IBM-Plex-Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}
@font-face {
  font-family: "IBM-Plex-Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
}
@font-face {
  font-family: "IBM-Plex-Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf");
}

* {
  font-family: "IBM-Plex-Sans", sans-serif;
}