/*Отладочные*/
div,
section {
  /* border: solid 1px red; */
}
body {
  /* background-color: #7d7d7d; */
}

/*ОБЩИЕ*/
* {
  font-family: "IBM Plex Sans";
  font-style: normal;
}

body {
  margin: 0;
}

div,
div::before,
div::after {
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 1124px;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 1124px;
  margin: 0;
  padding: 0;
}

section {
  box-sizing: border-box;
  position: relative;
  margin: 0 135px;
  clear: both;
}

p,
q {
  font-size: 11px;
  color: #333333;
}

h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  color: #7b9d2a /* #a3cc40 */;
}

/*HEADER*/
header .container {
  height: 668px;
  background: rgba(22, 22, 22, 0.8);
}
header .container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/header-bg.png) center no-repeat;
  z-index: -1;
}
.skip-btn {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333333;
  color: white;
  text-decoration: none;
}
.skip-btn:hover {
  color: #a3cc40;
  text-decoration-line: underline;
  background-color: white;
}

header .logo {
  line-height: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 51px;
  left: 89px;
  float: left;
}
header .logo svg {
  max-width: 156px;
  max-height: 40px;
  padding: 0;
  margin: 0;
}

header a {
  text-decoration: none;
}
header a:hover {
  color: #a3cc40;
  text-decoration-line: underline;
}

header nav {
  position: absolute;
  top: 44px;
  left: 289px;
  float: right;
  width: 788px;
  margin: 0;
  padding: 0;
  line-height: 0;
}
header nav ul {
  margin: 0 0 13px 0;
  padding: 0;
  list-style: none;
}
header nav li {
  display: inline-block;
  padding: 0;
  margin: auto 46px auto 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle;
}
header nav .menu li {
  margin: auto 70px auto 0;
}
header nav a {
  color: white;
}

header nav .zakazat-zvonok {
  line-height: 0;
}
header nav .zakazat-zvonok button {
  position: relative;
  margin: 0;
  padding: 0;
  width: 130px;
  height: 21px;
  border: 0;
  border-radius: 6px;
  background-color: white;
}
header nav .zakazat-zvonok button:hover {
  background-color: #a3cc40;
  color: white;
  fill: white;
}
header nav .ico-phone {
  position: absolute;
  left: 8px;
  top: 5px;
  width: 10px;
  height: 10px;
  padding: 1px;
  margin: 0;
}
header nav .zakazat-zvonok span {
  position: absolute;
  left: 28px;
  top: 3px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}
header nav .lang {
  margin-right: 0px;
  margin-left: 64px;
}
header nav .lang select {
  width: auto;
  color: white;
  background: none;
  border: none;
  outline: none;
}

.header-title-div {
  /*Контейнер заголовка страницы*/
  position: absolute;
  top: 224px;
  left: 198px;
  width: 728px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.header-title-div h1 {
  margin: 0;
}
.header-title {
  /*Заголовок страницы*/
  display: block;
  width: 100%;
  height: 88px;
  margin: 0;
  padding: 0 0 19px 0;
  font-size: 68px;
  font-weight: 100;
  line-height: 88px;
  color: white;
}
.header-subtitle {
  /*Подзаголовок страницы*/
  display: block;
  width: 100%;
  height: 53px;
  margin: 0;
  padding: 0;
  font-size: 41px;
  font-weight: 400;
  line-height: 53px;
  color: white;
}

.dobro-pozhalovat {
  position: absolute;
  width: 426px;
  height: 221px;
  left: 563px;
  top: 525px;
  padding: 30px 47px;
  margin: 0;
  background: white;
  box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
  border-radius: 10px;
  z-index: 2;
}
.dobro-pozhalovat h2 {
  margin-top: 0;
  font-size: 33px;
  line-height: 43px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 22px;
}
.dobro-pozhalovat p {
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
}

.triangle-white {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 128px;
  width: 1124px;
  background: url(/images/triangle-white.png) center no-repeat;
  z-index: 1;
}
.triangle-white-upside {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 128px;
  width: 1124px;
  background: url(/images/triangle-white-upside.png) center no-repeat;
  z-index: 1;
}

/*MAIN*/
#pochemu-my {
  margin-top: -11px;
}
.pochemu-my-table-div {
  margin-top: 84px;
}
.pochemu-my-row-div {
  margin-left: -23px;
  margin-right: -23px;
  overflow: hidden;
}
.pochemu-my-col-div {
  width: 33.33%;
  height: 338px;
  float: left;
  margin: 0 0 29px 0;
  padding: 0 27px;
  text-align: center;
}
.pochemu-my-col-div img {
  width: 245px;
  height: 169px;
  vertical-align: bottom;
}
.pochemu-my-col-div h3 {
  margin-top: 36px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}

#vyberite-film {
  margin-top: 115px;
}

#vyberite-film table {
  width: 849px;
  margin: 84px 0 30px 3px;
  padding: 0;
  border-collapse: collapse;
  border: none;
  color: #ffffff;
}
#vyberite-film th {
  height: 41px;
  padding: 2px 1px;
  vertical-align: top;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  background: #617d21 /* #a3cc40 */;
}
#vyberite-film th a {
  display: block;
  text-decoration: none;
  color: white;
}
#vyberite-film td {
  height: 41px;
  padding: 2px 1px;
  vertical-align: top;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background: #373737;
}

#vyberite-film tr:nth-child(even) td {
  background: #6c6c6c;
}

#vyberite-film td:first-child {
  text-align: center;
}
#vyberite-film thead th:first-child {
  border-top-left-radius: 10px;
}
#vyberite-film thead th:last-child {
  border-top-right-radius: 10px;
}
#vyberite-film tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
#vyberite-film tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

#vyberite-film .vyberite-film-text {
  margin: 0 auto;
  text-align: center;
  width: 539px;
}

#podarok-kazhdomu {
  position: relative;
  margin: 122px 0 0 0;
  width: 1124px;
  height: 587px;
  background: rgba(22, 22, 22, 0.8);
}
#podarok-kazhdomu:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/podarok-bg.png) center no-repeat;
  z-index: -1;
}
.podarok {
  position: absolute;
  top: -58px;
  left: 139px;
  z-index: 2;
}

.podarok-kazhdomu-content {
  width: 548px;
  position: absolute;
  top: 63px;
  right: 135px;
  margin: 0;
  color: white;
}
#podarok-kazhdomu h2 {
  text-align: right;
  color: white;
}
#podarok-kazhdomu p {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  text-align: right;
  color: white;
}
#podarok-kazhdomu button {
  width: 190px;
  height: 30px;
  margin-top: 14px;
  position: absolute;
  right: 2px;
  border: 0;
  border-radius: 6px;
  background-color: #617d21 /* #a3cc40 */;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
#podarok-kazhdomu button:hover {
  color: #617d21 /* #a3cc40 */;
  background: #ffffff;
  border: 1px solid rgba(163, 204, 64, 0.62);
  box-sizing: border-box;
  box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
  border-radius: 6px;
}

#filmy {
  margin-top: 45px;
}
#filmy .filmy-text {
  margin-top: -12px;
  margin-left: 4px;
  width: 548px;
}
.film-table-div {
  width: 850px;
  height: 850px;
  margin: 64px 0 0 4px;
  padding: 0;
}
.film-row-div {
  height: 33.33%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.film-col-div {
  height: 100%;
  width: 33.33%;
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
}

.film-col-div img {
  vertical-align: bottom;
}
.film-desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 17px 23px;
  background: rgba(22, 22, 22, 0.8);
}
.film-desc:hover {
  background: rgba(144, 210, 61, 0.4);
}
.film-desc:hover h3,
.film-desc:hover p {
  visibility: visible;
}
.film-desc h3 {
  margin: 0 0 13px 0;
  font-weight: 600;
  font-size: 29px;
  line-height: 38px;
  color: white;
  visibility: hidden;
}
.film-desc p {
  color: white;
  visibility: hidden;
}

#tovary {
  margin-top: 39px;
  overflow: hidden;
}
#tovary .tovary-text {
  margin-top: -12px;
  margin-left: 4px;
  width: 548px;
}
.tovary-table-div {
  width: 843px;
  height: 331px;
  margin: 57px 0 0 2px;
  padding: 0;
}
.tovary-row-div {
  height: 100%;
  margin-left: -27px;
  margin-right: -27px;
  padding: 0;
  overflow: hidden;
}
.tovary-col-div {
  width: 33.33%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0 27px;
  float: left;
}
.tovary-desc {
  display: table;
  width: 100%;
  height: 153px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 47px 27px 4px;
}
.tovary-desc-text {
  width: 245px;
  margin: 0 27px;
  display: table-cell;
  vertical-align: middle;
}
.tovary-desc p {
  margin: 8px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: white;
}
.tovary-col-div img {
  position: absolute;
  left: 27px;
  top: 0;
  vertical-align: bottom;
}
.cover-tovar-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}

#otzyvy {
  position: relative;
  margin: 48px 0 0 0;
  width: 1124px;
  height: 792px;
  background: rgba(22, 22, 22, 0.8);
}
#otzyvy:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/otzyvy-bg.png) center no-repeat;
  z-index: -1;
}
#otzyvy .otzyvy-content {
  width: 854px;
  position: absolute;
  top: 87px;
  margin: 0 135px;
  clear: both;
  color: white;
}
.otzyvy-text {
  margin-top: -15px;
  margin-left: 6px;
  width: 548px;
}
.otzyvy-text p {
  color: white;
}
.otzyvy-table-div {
  position: relative;
}
.otzyvy-unit1-div,
.otzyvy-unit3-div {
  width: 210px;
  height: 284px;
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #617d21 /* #a3cc40 */;
  border-radius: 9px;
}
.otzyvy-unit2-div {
  width: 246px;
  height: 332px;
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #617d21 /* #a3cc40 */;
  border-radius: 9px;
}
.otzyvy-unit1-div {
  top: 88px;
  left: 7px;
}
.otzyvy-unit2-div {
  top: 64px;
  left: 307px;
}
.otzyvy-unit3-div {
  top: 89px;
  left: 641px;
}
.otzyvy-content img {
  width: 100%;
}
.otzyvy-unit1-text-div {
  margin-top: 0px;
  padding: 0 9px;
}
.otzyvy-unit2-text-div {
  margin-top: -4px;
  padding: 0 14px 0 17px;
}
.otzyvy-unit3-text-div {
  margin-top: -3px;
  padding: 0 19px 0 17px;
}
.otzyvy-unit1-div h3,
.otzyvy-unit3-div h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
}
.otzyvy-unit2-div h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.otzyvy-unit1-div p {
  margin-top: -1px;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}
.otzyvy-unit2-div p {
  margin-top: 19px;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  color: #ffffff;
}
.otzyvy-unit3-div p {
  margin-top: -3px;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}
.otzyvy-unit1-div .date,
.otzyvy-unit3-div .date {
  position: absolute;
  bottom: 1px;
  right: 10px;
  font-weight: 300;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: #ffffff;
}
.otzyvy-unit2-div .date {
  position: absolute;
  bottom: 1px;
  right: 15px;
  font-weight: 300;
  font-size: 9px;
  line-height: 12px;
  text-align: right;
  color: #ffffff;
}

#obratnaya-svyaz {
  position: relative;
  width: 767px;
  height: 527px;
  margin: 43px 0 0 174px;
  clear: both;
}

#obratnaya-svyaz:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/obratnaya-svyaz.png) center no-repeat;
  z-index: -1;
}

.obratnaya-svyaz-form {
  width: 356px;
  position: absolute;
  top: 11px;
  right: 36px;
}
.obratnaya-svyaz-form form {
  margin-top: -7px;
}
.obratnaya-svyaz-form h2 {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
}
.obratnaya-svyaz-form p {
  margin: 0;
}
.input-text-div {
  margin: 0 auto 21px 0;
  padding: 5px;
  width: fit-content;
  max-width: 356px;
}
.obratnaya-svyaz-form input[type="text"],
.obratnaya-svyaz-form input[type="email"],
.obratnaya-svyaz-form select,
.obratnaya-svyaz-form textarea {
  margin: auto;
  padding: 0 15px;
  width: 314px;
  max-width: 346px;
  height: 40px;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #616161; /* #a1a1a1 */
  background-color: #dedede;
  border: 1px solid transparent;
  border-radius: 5px;
}
.obratnaya-svyaz-form select {
  padding: 0 10px;
  width: 344px;
}
.obratnaya-svyaz-form textarea {
  padding-top: 13px;
  height: 105px;
  min-height: 40px;
  resize: vertical;
}
.input-text-div:hover {
  background: rgba(170, 243, 77, 0.52);
  border-radius: 5px;
}
.obratnaya-svyaz-form .input-text-div:hover input[type="text"],
.obratnaya-svyaz-form .input-text-div:hover input[type="email"],
.obratnaya-svyaz-form .input-text-div:hover select,
.obratnaya-svyaz-form .input-text-div:hover textarea {
  margin: 0;
  background-color: white;
  border: 1px solid #c4c4c4;
}
.obratnaya-svyaz-form input[type="checkbox"] {
  margin: auto 5px auto auto;
  width: 18px;
  height: 18px;
  background-color: #dedede;
  border: 1px solid #a3cc40;
  border-radius: 5px;
}
.obratnaya-svyaz-form label[for="pers_data_proc_agree"] {
  margin: auto 0px;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #333333;
}
.obratnaya-svyaz-form button,
.obratnaya-svyaz-form input[type="button"] {
  margin: 7px 5px;
  background-color: #617d21 /* #a3cc40 */;
  color: white;
  width: 344px;
  height: 57px;
  border: 0;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
}

.obratnaya-svyaz-form button:hover,
.obratnaya-svyaz-form input[type="button"]:hover {
  color: #617d21 /* #a3cc40 */;
  background: #ffffff;
  border: 1px solid rgba(163, 204, 64, 0.62);
  box-sizing: border-box;
  box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
  border-radius: 6px;
}

#kak-dobratsya {
  width: 973px;
  height: 421px;
  position: relative;
  margin: 61px auto -22px;
  padding: 0;
  clear: both;
}

/*FOOTER*/
footer .container {
  height: 362px;
  background-color: #617d21 /* #a3cc40 */;
  color: white;
}

footer .logo {
  line-height: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 84px;
  left: 90px;
  float: left;
}
footer .logo svg {
  max-width: 161px;
  max-height: 42px;
  padding: 0;
  margin: 0;
}
footer .footer-text {
  position: absolute;
  top: 126px;
  left: 89px;
  width: 269px;
  height: 72px;
}
footer .footer-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: white;
}
footer .copyright-text {
  position: absolute;
  top: 297px;
  left: 89px;
  width: 436px;
  height: 39px;
}
footer .copyright-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: white;
}
.footer-menu {
  position: absolute;
  top: 67px;
  left: 529px;
}
.footer-contacts {
  position: absolute;
  top: 67px;
  left: 738px;
}
footer nav h3 {
  margin-bottom: 23px;
}

footer nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer nav ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 12px;
}

footer nav a {
  text-decoration: none;
  color: white;
}
footer nav a:hover {
  text-decoration-line: underline;
}
